{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Adventure Sports in Nepal</h1>
                                
                                    

    							</div>
                                <!-- End Text -->

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'paragliding-in-nepal'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/paragliding-in-nepal-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">

                                                        <p>
                                                        <b>Duration :</b> 1
                                                        </p>

                                                        <p>
                                                        <b>Grade :</b> Adventure
                                                        </p>

                                                        <p>
                                                        <b>Season :</b> Spring and Autumn
                                                        </p>

                                                        <p>
                                                        As the land of adventurous, Nepal offers another adventurous entertainment package for the visitors,that is Paragliding, flying in the sky like a birds.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Paragliding in Nepal
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'bungee-jumping-nepal'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/bungee-jumping-nepal-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        The only one Bungee Jumping site in Nepal is situated in Sindhupalchowk district, 160m above from the wild Bhotekoshi River.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Bungee Jumping
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'zip-flying'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/zip-flying-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Zip Flying is the latest addition to soft adventure activates in Pokhara.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Zip Flying
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'mountain-flights'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/mountain-flights-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        As a Mountainous country, Nepal offers an amusing flight tour of snow capped peaks.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Mountain Flights
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
      