{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Annapurna Circuit Biking Tour - 18 Days</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/Annapurna-Circuit-Biking-Tour.jpg' %}" alt="Annapurna Circuit Biking Tour" />
                                    </div>

                                    <p>
                                       Annapurna Circuit Biking Tour is the most adventurous and amusing biking tour of Nepal. This is the long biking tour around the Annapurna Mountain Region. Annapurna Circuit Biking Tour passed through the Lamjung, Manang, Mustang and Myagdi districts. Lamjung and Myagdi are located in the lower elevation with beautiful lush landscape. Manang and Mustang are located in higher elevation with beautiful snowy peaks and barren landscape. Annapurna Region offer the stunning glimpse of beautiful snowy peaks such as Annapurna, Machhapuchhre, Dhaulagiri, Nilgiri, Manaslu, Buddha Himal, Himchuli, Ganesh Himal, Dhampus peak, Tukuche peak, Thorung peak and Tilicho peak. The trail goes through the beautiful forest, falls, Lake, pristine River and artistic landscape which catches the eye and take the heart of the riders.

                                    </p>
                                    <p>
                                        On the way, there are Brahmin, Chhetri, Gurung, Magar and Tibetan Buddhist villages on the way. These ethnic people are very rich in their culture and festivals so during this tour cyclists get opportunity to know their culture and participate in their festivals. Sacred temples, Gompa and chörtens are scattered all over the region which will give ultimate solace to the riders. Annapurna Circuit Biking Tour starts from the Besisahar. From Besisahar you will slowly ride day by day through the Sanjen, Bagarchhap, Bhartang, Manang, Ledar, Throng Phedi, Muktinath, Jomsom, Lete, and Tatopani and finally reach to Ghorepani. From Ghorepani you will come to Pokhara via Birethanti.
                                    </p>

                                    <p>
                                        During this Biking Tour one must be carry or push their bicycle frequently due to the lack of full ride able track. Mountain biking expert of Ecological Trek has designed Annapurna Circuit Biking Tour itineraries. We tried our best to include all the beautiful places and romantic activities in our itineraries. We can make long or short itinerary for Annapurna Circuit Biking Tour as per your holidays and interest.
                                        
                                    </p>

                                    <hr>

                                    <p><b>Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td>Arrive at Kathmandu and transfer to hotel </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Kathmandu Sightseeing</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Drive to Besisahar (890m.), 6/7 hours drive</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Basisahar to Sanje</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td>Sanje to Bagarchhap (2160m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Bagarchhap to Bhartang</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Bhatrang to Manang (3540m.) </td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td>Rest day</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> Manang to Letdar (3900m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td>Ledtar to Phedi (4090m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td>Phedi to Muktinath (3800m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td>Muktinath to Jomsom (2730m.) </td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td>Jomsom to Lete (2010m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td> Late to Tatopani (1190m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 15: </th>
                                            <td> Tatopani to Ghorepani (2750m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 16: </th>
                                            <td> Ghorepani to Pokhara </td>
                                        </tr>
                                        <tr>
                                            <th> Day 17: </th>
                                            <td>Pokhara to Kathmandu</td>
                                        </tr>
                                        <tr>
                                            <th>Day 18: </th>
                                            <td>Farewell day</td>
                                        </tr>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
            
         