{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Balmiki Ashram</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/balmiki-ashram-l.jpg' %}" alt="Balmiki Ashram" />
                                    </div>
    								
                                    <p>
                                        Balmiki Ashram is located in an island in Narayani River near Triveni, 20 km south of Kusunde, which siyuated in between Narayanghat and Butawal in Mahendra Highway. According to Hindu holy book Ramayana Goddess Sita was exiled from the royal palace and stayed here. She gave born twin sons Lava and Kusha. This Ashram was used by the great Rishi Balmiki who wrote Hindu epic Ramayana.


                                    </p>

                                    <p>
                              
                                    </p>
    								 

                                      <p>
                              
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}