{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Barachhetra</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/barachchhetra-l.jpg' %}" alt="Barachhetra" />
                                    </div>
    								
                                    <p>
                                        Barachhetra, is another holy place of Nepal related to Hindu religion. This place is situated on the bank of Saptakoshi River in Sunsari district, eastern region of Nepal. This place is related to the lord Vishnu according to Hindu religious book puran. Puran said that lord Vishnu came down to the earth in the form of a boar and destroyed Hiranyakashyapu, an evil demon in this place. Because of this story of Puran this place is called Barachhetra. In makar shankrati festival (mid-Janabury) Hindu pilgrimage gather in this place to worship Lord Vishnu.


                                    </p>

                                    <p>
                              
                                    </p>
    								 

                                      <p>
                              
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}