{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Bardia Jungle Safari Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/bardia-jungle-safari-tour-large.jpg' %}" alt="Bardia Jungle Safari Tour" />
                                    </div>
    								
                                        <p><b>Bardia National Park</b> is situated in Bardia district,
                                        585 km south west of Kathmandu valley. This is the largest national park in the
                                        lowland area of Nepal. The park comprises 968 sq. km, east of Karnali River.
                                        You can reach Bardia National Park with a long bus ride over the far west of
                                        Nepal. But if you are allergic to bus rides and want to save time, it is
                                        possible to fly to Nepalgunj and cut the bus transport.</p><p>In terms of jungle safari Chitwan Jungle Safari and<b>
                                        Bardia Jungle Safari</b> resembles many things. But what makes Bardia Jungle Safari
                                        different from Chitwan Jungle Safari is it’s isolated landscape. Beside this
                                        isolated landscape you can also watch wild elephants, freshwater dolphins, blue
                                        cows, swamp deer and black antelopes, which are not found in Chitwan National Park.</p><p>In <b>Bardia Jungle Safari</b>, trips that are available
                                        for the visitors are cycling tour to black buck area, elephant back safari,
                                        nature walk, birds watching, isolated villages and surrounding farmlands,
                                        Tharu cultural program, rafting in Karnali and visiting the Karnali Bridge. The
                                        main disadvantage of Bardia is that it is far from Kathmandu valley in comparision
                                        to <a href="#">Chitwan National Park</a>. But, when you reach to Bardia you forget far distance and start to
                                        enjoy with its isolated geography surrounded by rare and non-rare animals and
                                        it’s heart touching and eyes pleasing natural beauty.</p><p>You
                                        will get a better chance of seeing a <b>Royal Bangal Tiger</b> in Bardia than
                                        anywhere else in Nepal. Most of the 968 sq. km park is covered with the mixture
                                        of grassland, sarvannah and with open sal forest. Most visitors go <b>Bardia Jungle Safari</b> with the hope of seeing Royal Bangal Tiger, but there are also
                                        blue cow, wild elephant, black buck antelopes, swamp deer, leopards, jungle
                                        cats, langur and rhesus monkeys and one horned rhino was also introduced
                                        here in Bardia from Chitwan. So, you will not miss the chance to see one horned
                                        rhino here in Bardia too.</p><p>Chance
                                        of being familiar with Tharu culture and rafting in Karnali River are the
                                        additional attraction of<b> Bardia Jungle Safari Tour</b>. You can go<b> Bardia Jungle Safari
                                        </b>through elephant back, through jeep and canoeing. It is also possible to enter
                                        the park on foot, although you need to take an experienced guide.</p>
                                    <hr>

                                    <div class="section3"><h2>Bardia Jungle Safari Tour Itinerary</h2><p><strong>Day 01: </strong>Upon arrival at the bus stop or at the Nepalgunj airport
                                    meet our office representative and transfer to the resort.</p><p>Ø&nbsp; Refreshing, brief about the program</p><p>Ø&nbsp; Have lunch and rest</p><p>Ø&nbsp; Cultural tour, visit Tharu village and park visitor center</p><p>Ø&nbsp; Sunset view from the river bank</p><p>Ø&nbsp; Dinner and slide show about flora-fauna<strong><br /></strong></p><p><strong>Day 02: </strong>Wake up call, tea-coffee
                                    drink and breakfast</p><p>Ø&nbsp; Nature walk</p><p>Ø&nbsp; Enjoy ox-cart ride or jeep drive to back to the resort</p><p>Ø&nbsp; Have lunch and rest</p><p>Ø&nbsp; Encountering wildlife on elephant back safari or jeep drive</p><p>Ø&nbsp; Dinner and Tharu culture dance show</p><p><strong>Day 03: </strong>Wake up call, tea-coffee
                                    drink and breakfast</p><p>Ø&nbsp; Jungle excursion tour</p><p>Ø&nbsp; Have lunch and rest</p><p>Ø&nbsp; Visiting wildlife sanctuary</p><p>Ø&nbsp; Dinner and discussion about wildlife</p><p><strong>Day 04: </strong>Wake up call, tea-coffee
                                    drink </p><p>Ø&nbsp; Bird watching tour</p><p>Ø&nbsp; Have breakfast and packing</p><p>Ø&nbsp; Transfer to the bus station or Nepalgunj airport for
                                    departure</p></div>
                                    
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}

            
            