{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Best of Nepal Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/best-of-nepal-tour-l.jpg' %}" alt="Best of Nepal Tour" />
                                    </div>

                                    <p>
                                        <b>Best of Nepal Tour</b> package combines the several
                                        important places of Nepal which will give diverse experience to the visitors.
                                        In this tour, visitors can get historical, cultural,religious ,natural, and wilder experiences. Kathmandu is culturally and historically important so in
                                        this tour historical and cultural places of Kathmandu such as Bashantapur Durbar Square, Patan Durbar Square, Bhaktapur Durbar Square, Pashupatinath, Boudhanath,
                                        Swayambhunath and Kirtipur are included. After visiting Kathmandu this tour will take you to Nagarkot. Nagarkot is naturally beautiful place which offer
                                        romantic view of sunrise and sun set, panoramic view of stunning mountains and
                                        glimpse of Kathmandu valley. 
                                    </p>
                                    <p>
                                        From
                                        Nagarkot, our&nbsp; tour moves to Gorkha which is the important town of Nepal from where
                                        unification of Nepal began. In Gorkha you will visit historical Shah Palace
                                        which is located on the top of the hill direct ascends from Gorkha town. After
                                        visiting in Gorkha you will go to Manakamana temple which is also located in
                                        the Gorkha district. Manakamana is the one of the holiest temple of Hindu
                                        pilgrimage people. From Manakamana you will go to Bandipur village of Tanahu
                                        district. In this village different ethnics people are living so, diverse
                                        culture can be seen there. Along with this cultural attraction Bandipur is also
                                        famous for its natural attraction from where eye pleasing and breath taking
                                        scene and scenery can be seen. After visiting in Bandipur you will visit to
                                        naturally decorated Pokhara city. Important and beautiful places in&nbsp; Pokhara
                                        such as Fewa Lake, Mahindra cave, David’s fall and Bindhabasini temple. After enjoying the natural environment of the
                                        Pokhara you will visit to Chitwan National Park. This visit provides golden
                                        opportunity to see numerous rare and non-rare animals through your bare eyes. 
                                    </p>
                                    <p>

                                        After
                                        conducting jungle safari tour in Chitwan National Park you will go to <b>Lumbini
                                        </b>which is the last destination of this tour. Lumbini is religiously
                                        important place because Lord Buddha was born here. As the birth place of Lord Buddha,
                                        Lumbini is considered foundation of the world peace. All the important places
                                        of Lumbini are included in this tour. While visiting in Lumbini you
                                        will get eternal solace. From Lumbini you will finally return to Kathmandu.
                                        <i>Ecological trek</i> has included all the important and beautiful places of Nepal in this package. If you are interested to visit other places which are not
                                        included in our itinerary we can include that place as per your request. 
                                    </p>

                                        <hr>

                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}           
            
         