{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Bheri River Rafting</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/bheri-river-rafting-large.jpg' %}" alt="Bheri River Rafting" />
                                    </div>


                                    
                                    <hr>

                                    <p><b> Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu and transfer to Hotel </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Visiting the places of interest in Kathmandu Valley.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Drive or flight from Kathmandu to Nepalgunj.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Drive from Nepalgunj to Samjhighat and preparation for rafting</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Rafting from Samjhighat (put in point) to Kumal Gaun, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Rafting from Kumal Gaun to Jamu, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Rafting from Jamu to edge of Bardiya National Park</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td> Drive or Flight from Nepalgunj to Kathmandu</td>
                                        </tr>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
     