{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Bhutan Travel Information</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <ul class="clearlist content-slider">
                                            <li>
                                                <img src="images/portfolio/full-project-1.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-2.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-3.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>

                                    <p>
                                        Bhutan being a tiny, land-locked and Buddhist Himalayan country covers 4,700 sq km. Kingdom of Bhutan is lined with Tibet to the north and India to the south, east, and west. Bhutan is that the mysterious country close within the Himalaya Mountains and guarded by the compound geography of the high mountains and deep valleys. Bhutan is blessed with a variety of flora and fauna, arts and artifacts. These special features  have created Bhutan to be really a paradise.


                                    </p> 
                                    This tiny Buddhist Kingdom is also known Land of the Thunder Dragon – one of the most sought after travel destinations today. Bhutan have superbly preserved ancient tradition, lifestyles, rituals, arts, and culture as no outsider is allowed to enter Bhutan. And therefore ever since, it had been opened for the outsider, Bhutan has been an attractive destination to several travelers from round the world. You will encounter with miracles right from the moment you step into Bhutan, you will be amazed and pleased at the same time with lofty peaks, waterfalls, mysterious and wonderful Buddhist monasteries, arts and architecture, diverse flora and fauna, these all have made Bhutan to be place for worth spending your holiday trip.

 



   
                                    <p>
                                        Ecological Treks Pvt. Ltd is one of the leading trekking and tour operator company in Nepal. Please remember us for any kind of Tours in Bhutan. We make all the necessary arrangements required for making your holiday trip a success and worth remembering in Bhutan.
                                    </p>
                                    <p>
                                        
                                    </p>                        
    							</div>
                               
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}

            
            
            
         