{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Nepal Bird Watching Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/nepal-bird-watching-tour-large.jpg' %}" alt="Nepal Bird Watching Tour" />
                                    </div>
    								

                                    <p>
                                        Naturally rich country Nepal is also best place for bird watching tour. Unique and different species of birds can be seen in Nepal. In Nepal many different- different species of birds can be seen mainly in the winter season because in this season birds of most cold countries such as Russia, Mongolia and Siberia come to Nepal for suitable shelter. Different kinds of birds can be seen all over the Nepal but Pachpokhari, Chitwan and Koshi Tappu wildlife reserve camp are the famous places for bird watching tour.


                                    </p>

                                    <p>
                                        Panchpokhari located at 4050 meters and the route goes throughout very attractive jungle, mostly bamboo, pine and other evergreen forests with excellent view of Jugal Himal, Gaurishankar, DorjeLakpa and Langtang. On the way to Panchpokhari and in and around the Pachpokhari different rare and non-rare species of birds such as Pigeons and Doves, Parrot, Macaws and allies, Cuckoos and Anis, Barn owls, typical owls, Nightjars, Treeswifts, Trogons and Quetzals, Kingfishers, Bee-eaters, Typical Rollers, Hoopoes, Barbets Honey guides, Woodpeckers and allies can be seen.


                                    </p>

                                    <p>
                                        Chitwan national park is situated in inner Tarai plain, which lies between Chure Hills and Mahabharat Range in about 932 sq. km. to the north. The park contains a narrow strip of flood plain along the Narayani and Rapti Rivers, a part of the Chitwan valley. In this national park numerous wildlife and bird species can be seen.

                                 </p>

                                 <p>
                                     Koshi Tappu wildlife reserve camp protects a section of the Saptkoshi’s flood plain that lies behind the Koshi barrage. The reserve is home for rare and exotic birds and is also home to last surviving population of wild buffalo (Arna). Koshi Tappu wildlife reserve camp was established solely for the purpose of serving to the needs of birds watchers, interested all over the world.
   
                                 </p>   
    							</div>
                                <!-- End Text -->
                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'kathmandu-valley-bird-watching'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/kathmandu-bird-watching-s.jpg' %}" alt="kathmandu-valley-bird-watching" />
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Kathmandu Valley Bird Watching
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}     