{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Bungee Jumping in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/bungee-jumping-nepal-large.jpg' %}" alt="Bungee Jumping in Nepal" />
                                    </div>
    								

                                    <p>
                                      The only one <b>Bungee Jumping</b> site in Nepal is situated in Sindhupalchowk district, 160m above from the wild Bhotekoshi River. This site is three hours’ Drive from Kathmandu valley and 12 km away from Tibet border. This <b>Bhotekoshi Bungee Jumping </b>site is designed by New Zealand’s leading bungee consultants and run by some of the experienced jump master in Nepal.

                                    </p>
                                      
                                    <p>
                                      As the land of adventure, Nepal offers the most exciting and scary jump over the wild Bhotekoshi River. This is the world second deepest Bungee Jumping site, which givee thrilling experience to you. Imagine you are 160m above from gorge, below wild Bhotekoshi is running in its wild speed, close your eyes and jump, how you feel…!

                                      
                                    </p>

                                    <p>
                                      Everyone is weight and measure their blood pressure before the jumps. Weight measurement is done for the purpose of using cords. Different cords are used for the different categories of the weight.  The green cord is used for the lightest weight people; similarly, red cord is used for the heavier weight people. In the same way black cord is used for the heavy weight people. Any kind of intoxicating drugs are forbidden to use before jump.
                                    </p>

                                    <p>
                                      The bridge is designed according to Swiss model. The bridge has a loading factor of 250 kg per running meter. This means that the bridge will hold 250×166=41,500 kg or 4.5 tones. About 6000 meters of steel wire is used to build the longest suspension bridge in Nepal. The bridge joins two side of a great valley. Before the construction of this bridge local people used to walk 5 hours to cross this River’s gorge. 
                                    </p>

                                    <p>
                                      his trip of <b>Bhotekoshi River</b> Jumping can be combined with Bhotekoshi River Rafting, cannoning, swing and a village tour around the valley. If you are not interested in anything mention above you can easily return to Kathmandu valley or staying a night at resort with other jumpers sharing the experience. 
                                    </p>
                                    <hr>

                                    <h3>Itinerary</h3>
                                    <table class="routine">
                                        <tr  class="first-row">
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu Airport and transfer to Hotel</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 02: </th>
                                            <td> Going to places of interest in Kathmandu valley</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 03: </th>
                                            <td>3hrs Drive to Last Resort (final bungee jump spot), enjoying the Bungee Jump and back to Kathmandu </td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 04: </th>
                                            <td>Rafting on Bhotekoshi (if you have extra time) and drive back to Kathmandu</td>
                                        </tr>
                                        
                                    </table>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
            
           