{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Chitwan Jungle Safari Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/chitwan-jungle-safari-tour-large.jpg' %}" alt="Chitwan Jungle Safari Tour" />
                                    </div>
    								
                                        <p><b>Chitwan National Park</b>, which is situated in Chitwan district about 140km far from
                                        Kathmandu valley. <b>Chitwan National Park</b> is frequently visited and is the first choice
                                        destination for jungle safari. Those who are interested in flora and fauna, <b>Chitwan Jungle Safari</b> is the&nbsp; best destination. The park is easily accessible from Kathmandu
                                        valley or Pokhara valley and equally en route for those heading to/from the
                                        Indian border at Birgunj and points east and only a short detour if coming
                                        to/from western Nepal or the border at Sunauli.</p><p><b>Chitwan National Park</b> is situated in inner Tarai plain, which lies between Chure Hills
                                        and Mahabharat Range in about 932 sq. km. to the north the park contains a
                                        narrow strip of flood plain along the Narayani and Rapti Rivers, a part of the
                                        Chitwan Valley. Frequently visit section of the park encompasses the Someshwar
                                        Hills, which reach a maximum height of 138m and are largely inaccessible to
                                        visitors. In the east the national park is adjoined by the Parsa Wildlife
                                        Reserve, which is not well developed for visitors, but provides important
                                        additional landscape for wildlife.</p><p>Through
                                        the <b>Chitwan Jungle Safari</b>, visitors can see three basic vegetation types: open
                                        grassland, vegetation and hardwood forest in flora section. On the other hand
                                        visitors in <b>Chitwan Jungle Safari</b> get the chance to go with elephant and can
                                        see the endanger animals like one horned rhinoceros, west bengal tigers,
                                        gharial crocodiles, different species of mammals, birds and butterflies in
                                        fauna section.</p><p>Elephant Back Safari is frequently used and the most popular medium for <b>Chitwan Jungle Safari Tour</b>. This is one of the best living experiences that visitors undergo in Chitwan Jungle Safari. Sitting back on the elephant, visitors can go all over the park
                                        area. Elephant Back Safari is safety and most pleasurable experience inChitwan Jungle Safari that no one wants to miss. If you are not in hurry and want to
                                        observe the park closely through your eyes, then <b>Elephant back Safari</b> is the
                                        best option available for you. Sitting back on the elephant, you can easily
                                        watch most dangerous animals like tiger, rhino, gharial crocodiles through your
                                        eyes.</p><p>&nbsp;</p><p>Canoeing
                                        trip is another medium used for Chitwan Jungle Safari. This trip goes along the
                                        Rapti and Narayani Rivers which is the most restful way of seeing the wildlife,
                                        particularly water birds, mugger and gharial crocodiles. If you are lucky in
                                        canoeing trip you might catch a glimpse of a fresh water jangetic dolphin as
                                        they are rare.</p><p>Jeep Safari is another available medium for <b>Chitwan Jungle Safari</b>. If you are hurry
                                        and want to visit park in short period of time this safari through jeep may be
                                        best solution to satisfy your desire. Most jeep rides take three or four hours
                                        and include a visit to the park headquarters at Kasara, about 20km west on
                                        Sauraha, and the nearby <b>Gharial Breeding Centre.</b> </p><p>If
                                        you think to go Chitwan Jungle Safari on foot, jungle walk trip is also
                                        available. Jungle safari on foot, jungle walk trip is also available. Jungle Safari on foot is really an interesting experience that anyone wants to have.
                                        But, if you go alone and if you don’t have any experience of jungle walk you
                                        may be the victim of wild animals. It is better to go jungle walk with highly
                                        experienced guide. Most lodges and agencies have their own guides, there are
                                        also the members of independent local guides, and they are knowledgeable about
                                        the parks wildlife and where to find it. As a result your jungle walk trip
                                        becomes more fruitful and interesting.</p><p>In
                                        the <b>Chitwan Jungle Safari</b>, besides flora and fauna, staying in Sauraha gives you
                                        an excellent opportunity to explore the surrounding countryside, either on foot
                                        or bicycle; you get the opportunity to know&nbsp; Tharu culture. The nearest
                                        Tharu village is Bachauli, east of Sauraha towards the <b>Gaida Wildlife Camp</b>.</p>
                                    <hr>

                                    
                                    <div class="section3">
                                    <h2>Itinerary for 2 nights and 3 days</h2>
                                    <p>
                                    <strong>Day 01:</strong>
                                    <p class="day-routine">Pick up from arrival point. Reception, escort guest up
                                    to the room, Fresh up
                                    </p>
                                    </p>
                                    <p class="day-routine">
                                    13:30 Lunch
                                    </p>
                                    <p class="day-routine">
                                    16:00 Cultural Tour (visit to Tharu Village)
                                    </p>
                                    <p class="day-routine">
                                    18:00 Slide show Program / Tharu Stick Dance
                                    </p>
                                    <p class="day-routine">
                                    21:00 Dinner
                                    <strong><br /></strong>
                                    </p>
                                    <p>
                                    <strong>Day 02:</strong><p class="day-routine"> 6:30 Breakfast</p>
                                    </p>
                                    <p class="day-routine">
                                    8:00 Canoeing, Elephant ride, Visit to Elephant Breeding center</p>
                                    <p class="day-routine">
                                    13:00 Lunch
                                    </p>
                                    <p class="day-routine">
                                    15:00 Elephant back Safari
                                    </p>
                                    <p class="day-routine">
                                    21:00 Dinner 
                                    </p>
                                    <p><strong>Day 03:</strong> <p class="day-routine">6:00 Wakeup call</p></p>
                                    <p class="day-routine">
                                    6:30 Tea / Coffee</p>
                                    <p class="day-routine">
                                    7:00 Bird watching
                                    </p>
                                    <p class="day-routine">
                                    8:30 Breakfast
                                    </p>
                                    <p class="day-routine">
                                    9:30 Departure
                                    </p>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
           
            
          