{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Day Tour: UNESCO World Heritage Sites - 1 Day</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        
                                               <img src="{% static 'images/day-tour-large.jpg' %}" alt="day-tour" />
                                           
                                    </div>
    								

                                    <p>
                                        Ecological Treks offers one day tour to the most beautiful places in the Kathmandu Valley. This tour includes Pashupatinath, a significant Hindu temples of Shiva in the world, Boudha the most holiest place for Buddhist, Swayambhunath, an ancient religious complex in the top of Kathmandu valley. These are the places which carries historic importance to Nepal in a cultural and religious aspect.




                                    </p>

                                    <p>
                                        The tour starts with breakfast at 6:30 am in Thamel. The tour team heads towards Pashupatinath, the holiest temple for Lord Shiva worshippers, located on the bank of Bagmati River in eastern part of Kathmandu. One can enjoy the beautiful art and craft work over here with the golden plated roof of the temple. Now the tour moves forward to Boudha, a holiest place of buddhist which is located north part of central Kathmandu.


                                    </p>

                                    <p>
                                        Boudha(or Boudhanath) is known for its white stupa(one of the world’s largest stupa) which is famous as the swollen sacred heart of a thriving Tibetan Buddhist community. This is the only Tibetan Buddhist monument outside Tibet with great importance. We will have lunch here before heading forward to our tour.


                                 </p>

                                 <p>
                                     Swayambhunath is famous for monkeys and also know as Monkey Temple because it is the home for holy monkeys. Swayambhunath  Stupa is one of the oldest holy places in the Kathmandu Valley. The Swayambhu Stupa, painted with the eyes of the omnipresent god, forms the centerpiece of the temple complex.


                                 </p>

                                 <p>
                                     Then from Swayambhunath, our next destination will be Basantapur Durbar Square which can be reached within 30 minutes walking down Swayambhu.   In Basantapur Durbar Square you will get the most facinating monuments date back to the medieval malla period 15th to 17th century as the golden period of Nepalese art and architecture. Basantapur Durbar Square is famous for Kumari; a living goddess. This is the final destination of our tour.
                                 </p>
                                    
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
{%endblock%}