{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Devghat</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/devghat-l.jpg' %}" alt="Devghat" />
                                    </div>
    								
                                    <p>
                            Devghat, which is situated in the boarder of Chitwan and Tanahau district is another sacred place of Hindu pilgrimage, also called Triveni because this is confluence place of River Trishuli, River Kaligandaki, and River seti. In maghe Shankrati, the first day of Nepali month magh( mid-january) Hindu pilgrimage around the Nepal and India gather in this place to give tribute to the lord Vishnu. According to Hindu mythology this place is related to the lord Vishnu. Hindu mythology said in Devghat the demigods came to respect Lord Vishnu when he saved Gajendra, an elephant from the attack of a crocodile after hearing his prayers of heaven.
                                    </p>

                                    <p>
                               
                                    </p>
    								    
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}