{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Dudh Koshi Rafting</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/dudh-koshi-rafting-large.jpg' %}" alt="Dudh Koshi Rafting" />
                                    </div>


                                   <p>
                                    <strong>Dudh Koshi River Rafting</strong> is one of the major white water rafting in
                                    eastern Nepal. Dudh Koshi origins from the region of the highest mountain in
                                    the world known as the Everest Region. You can feel the freshness and power of
                                    the world highest peak in the white water of Dudh Koshi. <strong>Rafting in Dudh Koshi</strong> gives you the feeling of being a part of
                                    Everest aka Sagarmatha.
                                </p>
                                <p>
                                    <strong>Dudh Koshi River Rafting</strong> offer rafters with the beautiful scene
                                     of Khumbu Himal. <strong>Rafting in Dudh
                                    Koshi </strong>&nbsp;is divided into two sections
                                    as: middle and upper section. The upper section of the river gives rafter a
                                    gradient upto 12m/km going deep in the George with a long trail due to the
                                    steepness of <b>Dudh Koshi River</b>.
                                </p>
                                <p>
                                    The upper section of Dudh Koshi River Rafting starts in Imju Khola. We
                                    arrive middle section of Dudh Koshi River Rafting below the beautiful village
                                    of Namche Bazar which is famous as a name, <em>Gateway
                                    to the Mountain Everest. </em>During the rafting in Dudh Koshi, rafters can take
                                    two types of experience in rafting grades of 3 and 4 rapids.
                                </p>

                                    

                                    <hr>

                                    <p><b> Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu and transfer to Hotel</td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Sightseeing in Kathmandu Valley.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Flight from Kathmandu to Okhaldhunga Airport</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Trek from Okhaldhunga Airport to Nelabazzar, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Trek from Nelabazzar to Basa (put in point), 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Rafting from Basa to Demlitar, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Rafting from Demlitar to Rabuwa, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td> Rafting from Rabuwa to Sunkoshi Dovan, 6hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> Rafting from Sunkoshi Dovan to Kuruletar, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td> Rafting from Kuruletar to Khuwa Khola, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td> Rafting from Khuwa Khola to Chatara (put out point), 3hrs and drive or flight back to Kathmandu.</td>
                                        </tr>
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->

            
{%endblock%}