{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Gokyo Renjo La Pass Trek - 14 Days</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/gokyo-renjo-la-pass-trek-large.jpg' %}" alt="Gokyo Renjo La Pass Trek" />
                                    </div>

                                    <p>
                                        If you want to have the great adventurous experience once in your life, start your journey for Gokyo - Renjo La Pass Trek with our trekking agency. It is one of the less crowded and alternative trekking route inEverest Regionwhich form a circle starting from Lukla. Tremendous high mountain scenery through the Khumbu, Namche, a Sherpa community, and Sherpa villages, homes and monasteries offers the unforgettable image in your life. The most striking attraction of this trek is the Gokyo Valley and Nangpa-la Valley. The trek to these valleys via Renjo La Pass which is 5,446m is one of the most startling trips on the Himalaya. It is good to explore this trail during autumn season (September to November) when flowers blossom that gives the astonishing pleasure. It offers you the illusion of walking on the textured carpet.
                                    </p>
                                    <p>
                                        Two routes are available for this trekking: one from Lukla and another from Jiri which takes 6-7 days more than from Lukla. The trail gradually mounts uphill to the Gokyo Valley passing through different small settlement, forest passes, glaciers etc which refresh your mind and fill with a sense of achievement. During this trek you can see the amazing view of Mt. Everest (8848m), , Makalu (8,463m), Cho Oyo (8153m), Lhotse (8511m), Pumori (7,145m),  Nuptse (7879) and many other gigantic peaks along with the smoothly cascading down of the biggest glacier in Nepal Himalaya “Ngozumpa ” while crossing Renjo La and ascent Gokyo Peak. Like in other Everest Region Trekking, you come to know the surrounding and culture of Sherpa on the way.
                                    </p>

                                    <hr>

                                    <p><b> Gokyo Renjo La Pass Trek Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrive in Kathmandu (1310m) and Transfer to hotel, O/N at hotel. </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Fly to Lukla (2840M) & Trek to Phakding (2800M) 4/5 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Phakdingto NamcheBazzar (3440M) 6/7 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Rest day at Namche Bazaar with some excursion.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Namche Bazaar to to Dole</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Dole to Machhermo to Gokyo RI (4750M)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Climb Gokyo Peak (5463M) and Back to GokyoRi 4/5 hours.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td> Cross Renjo la pass (5300M) & trek to Lunde, 6/7 hrs of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td>Trek to Thame , 4/5 hrs of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td> Trek to Khumjung or Namche, walk 3 hrs.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td> Trek to Manju or Phakding (2800M), 5/6 hrs of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td> Trek to Lukla- 5 hrs of walk. </td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td> Lukla to Kathmandu and sightseeing in Kathmandu Valley.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td> Departure.</td>
                                        </tr>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}            
         