{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Gosaikunda</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/gosaikunda-l.jpg' %}" alt="Gosaikunda" />
                                    </div>
    								
                                    <p>
                                    Gosaikunda which is situated in Rasuwa district is another holiest place of Hindu pilgrimage in Nepal. Gosaikunda is located at an altitude of 4,380m above the sea level. Gosaikunada lake premises cover the total area of 4.0 sq. m. This lake has been designated a Ramsar site in September 2007. Gosaikunda lake is the main source of River Trisuli. According to Hindu mythology Gosaikunda is the residence of lord Shiva and goddess Gauri. Hindu holy books like Ramayan, Mahaharat, Bhagavat Puran, Vishnu puran, all refers to Samundra Manthan, one of the important events related to Hindu myth, which is directly related to the origin of Gosaikunda.  Hence, this place is great significance in Hindu religion. In the sacred festival of Hindu Janai purnima, full moon day of july (shrawan purnima) thousands of Hindu pilgrimage gather in Gosaikunda to a take holy bath with the belief of their past sins will wash and door of heaven will open for them.
                                    </p>

                                    <p>
                               
                                    </p>
    								    
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}