{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Janakpur: Ram Janaki Temple</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/janakpur-ram-janaki-temple-l.JPG' %}" alt="Janakpur: Ram Janaki Temple" />
                                    </div>
    								
                                    <p>
                                        Another holiest place of Hindu pilgrims in Nepal is Janakpur-Ram Janaki Temple. Janakpur is located in about 370km south east of Kathmandu in the Danusha district. This is the mythical important place of Hindu people. According to Hindu myth Janaki, (Sita) wife of lord Ram, born out of field when king Janak the king of mithila ploughed the field in this place. Later on Sita married with lord Ram the 7th incarnation of Lord Vishnu in this place. Biwah Mandap was made and mock weeding procession is done in every year in Biwah Panchami (November month) in the remembrance of Ram- Sita weeding day. Most attraction places of Janakpur are Ram- Janaki Temple, Biwah Mandap, Lal Sagar and Danush Sagar. In the Janakpur there is the great festival of Hindus in theauspiciousBiwah Panchami day.
                                    </p>

                                    <p>
                              
                                    </p>
    								 

                                      <p>
                              
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}