{% extends 'main_base.html' %}
{% load static %}
{% block content %}   

            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Jiri Everest Base Camp Trek - 22 Days</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/jiri-everest-base-camp-trek-large.jpg' %}" alt="Jiri Everest Base Camp Trek" />
                                    </div>

                                    <p>
                                        Trekking from Jiri, also known as the Switzerland of Nepal,to Everest Base Camp is an astounding and pleasant experience in the earth. Everest Base Camp Trek is one of the most popular trekking trails in the world. This trail follows the foot step of legendary figure Tenzing Norgey Sherpa and Edmund Hilary who put the first step in the summit of Mt. Everest. Once you start your trek from Jiri and reach Everest Base Camp you are filled with deep respect and pay tribute to the determination and willpower of the mountaineer. 


                                    </p>
                                    <p>
                                        Jiri Everest Base Camp Trekking routes starts from Jiri which is around 200 km away or eight hour drive from Kathmandu. During this drive also we have glimpse of the gorgeous view of nature along with the sparkling flowing of the main rivers of Nepal like Sun Koshi, BhoteKoshi, and Tama Koshi.  On the way you can also take adventurous experience of bungee jumping at BhoteKoshi. As you kick off your journey from Jiri you pass through forest, scattered small villages, glaciers, rivers, Buddha monasteries and have to walk up and down the hill. You also become familiar with the unique culture and tradition of different ethnic groups including Tamang, Jirel, Rai, Brahmin, Chettri and of course the Sherpa’s residing in that place and enjoy their homely behavior.
                                    </p>

                                    <hr>

                                    <p><b> Jiri Everest Base Camp Trek Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu.(1310m) </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Sightseeing in Kathmandu valley and preparation for trekking.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Drive to Jiri (1860m) through Lamosangu, and trek to Bhandara.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Bandhara to Sete (2575m), 6/7 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Trek to Junbesi (2675m), 6/7 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Junbesi to Nuntala (2440m), 5/6 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Nuntala to Buspa 5/6 hours of walk. </td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td> Bupsa to Phakding (2646m), 5/6 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> Trek to Namche (2441m) 5/6 hours.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td> Acclimatization day at Namche bazaar.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td> Namche bazaarto Dole (4200m) 5/6 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td> Dole to Machherma to Gokyovalley (4790 m) 5/6 hours of walk. </td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td> Trek to GokyoRi (5483 m) and then Back to Gokyo, 5/6 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td> Trek to Thangna (4500 m) 4/5 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 15: </th>
                                            <td> Cross Cho La pass (5300 m) then trek to Lobuche.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 16: </th>
                                            <td> Trek to Everest Base Camp (5365 m) then back to GorakShep, 8/9 hours of walk. </td>
                                        </tr>
                                        <tr>
                                            <th> Day 17: </th>
                                            <td>Trek to Kalapattar (5554 m) then back Periche (4200 m), 7/8 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 18: </th>
                                            <td>Periche to Namche Bazaar (3441 m) 6/7 hours.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 19: </th>
                                            <td>Namche Bazaar to Lukla (2804 m) 6/7 hours.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 20: </th>
                                            <td>Lukla to Kathmandu, 30 minutes flight.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 21: </th>
                                            <td>Free day in Kathmandu.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 22: </th>
                                            <td>Departure to your own destination.</td>
                                        </tr>
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}

            
            
            