{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Jungle Safari Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/jungle-safari-tour-large.jpg' %}" alt="Jungle Safari Tour" />
                                    </div>
    								
                                    <p>
                                       Nepal is not only famous for mountain trekking and river rafting. Nepal offers you the chance to enter the jungle and view some of the rarest and most endangered wild life on earth. So, Jungle Safari is another tour package available here in Nepal which encounter your heart stop experience with wildlife. It is a great way to relax after trekking and rafting. In jungle safari you can experience elephant back safari, birds watching, bush walking, canoeing, cultural programs and recreation activities. This list depends on which wildlife area you chose to go.




                                    </p>

                                    <p>
                                        Those who are interested in flora and fauna, Jungle Safari Tour Package is the best option to achieve your desire. In jungle safari on the categories of flora you can watch open grasslands: vegetation and hardwood forest. And on the categories of fauna you can encounter with different species of mammals, different bird types, different type of butterflies and most interesting creatures including elephants, rhinos and tigers.



                                    </p>
    								    

    								<p>
                                        Easier, fantastic and commonly used medium for jungle safari is Elephant Back Safari. Elephant Back Safari is available in Chitwan National Park and Bardia National Park. There are two mentionable advantages of Elephant Back Safari: Elephant Back Safari saves you from the attack of wild animals, and elephant is highty and moves slowly so you can sit comfortably and can view each and every thing very closely.

                                    </p>

                                    <p>
                                        Jungle walk on foot is another medium for jungle safari. But there may be the danger of safety because wild animals may attack you if you are not aware and cautious. So, experienced guide is compulsory for jungle walk on foot.


                                    </p>

                                    <p>
                                        Canoeing is another useful medium for jungle safari. A canoe trip along the Rapti or Narayani is the most useful way of seeing the wildlife, water birds, mugger and gharial, crocodiles.


                                    </p>

                                    <p>
                                        Jeep Safari is another medium available for jungle safari which you may choose according to your interest and time. It may be less romantic than elephant back safari and jungle walk on foot. But, from the perspective of time and safety it may be more useful than other medium.


                                    </p>

                                    <p>
                                        Being rich in terms of flora and fauna, Nepal is an interesting place for Jungle Safari. Chitwan National Park, Bardia National Park and Koshi Tappu Wildlife Reserve Camp are consider to be the best place for Jungle Safari. Chitwan National Park is famous for one horn rhino, tiger, and gharial crocodile. Similarly Bardia National Park is famous for tigers, blue cows, and deer. And Koshi Tappu Wildlife Reserve Camp is famous for many kinds of birds. Beside these three major places you may go for jungle safari in other national parks and wildlife reserve camp.
                                    </p>

                                    
                                    
    							</div>
                                <!-- End Text -->



                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'chitwan-jungle-safari-tour'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/chitwan-jungle-safari-tour-s.jpg' %}" alt="" />

                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <p>
                                                        Chitwan National Park, which is situated in Chitwan district about 140km far from Kathmandu valley.
                                                        </p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Chitwan Jungle Safari Tour
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'bardia-jungle-safari-tour'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/bardia-jungle-safari-tour-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <p>
                                                        Bardia National Park is situated in Bardia district, 585 km south west of Kathmandu valley.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Bardia Jungle Safari Tour
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
    							
    						</div>
    						<!-- End Post -->
						
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
           