{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Karnali River Rafting</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/karnali-river-rafting-large.jpg' %}" alt="Karnali River Rafting" />
                                    </div>
    								

                                    <p>
                                        The <b>Karnali River</b> is the longest and the largest River in Nepal which runs in the western part of Nepal. The most commonly rafted section is from Sauli (Doti) to Chisapani( Kailali), about 180 km, which will take 7 days to complete. Being situated in the remote location this River provides heartfelt and unforgettable pleasure to the rafters. Remote locations, prettiest canyons, jungle scenery are the additional attractions of Karnali River Rafting.
                                    </p>
                                    <p>
                                        In its high water and low water, most experienced River people have boated the Karnali find it to be one of the best all-around River trips they have ever done. In high water, Karnali is fairly straightforward rapids with a seriously remote location. At low water the Karnali is still a fantastic trip. The rapids become smaller but the steeper gradient and constricted channel of the Karnali keep it interesting. 
                                    </p>
                                    <p>
                                        From the season of June to August because of monsoon with heavy rain, the water in the karnali is very high. As a result, at this time Karnali is not runable.  From the season of September to December rafters in the Karnali River can get the pleasure of 5 grade rafting. Similarly, from the season of January to May rafters can enjoy -5 grades rafting in the Karnali River.
                                    </p>
                                    <p>
                                        The trip starts with a long but interesting bus ride over to the far-west of Nepal, an area of remote and lately opened to tourism. But if you are allergic to bus ride want to save time, it is possible to fly to Nepaljung and cut the bus transport. From the frontier town of Surkhet there is a lovely two days trek through the low land saal forest to the village of Sauli. From Sauli <b> Karnali River Rafting </b>trip starts to Chisapani which is about 180 Km. on the northern border of the Bardiya National Park.
                                    </p>
                                    <p>
                                        The section of <b>Karnali River Rafting</b> takes about 7 days giving plenty of time to explore some of the side canyons, wildlife and waterfalls. The combination of long bus ride and trekking puts some people off, but anyone who has ever done the invariably raves about it. The trip of Karnali can be combined with the trip of Bardiya National Park.
                                    </p>
                                    <hr>

                                    <h3>Itinerary</h3>
                                    <table class="routine">
                                        <tr  class="first-row">
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu and transfer to Hotel</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 02: </th>
                                            <td> Sightseeing of Kathmandu valley</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 03: </th>
                                            <td>Drive from Kathmandu to Surkhet (360km west from Kathmandu), 10hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 04: </th>
                                            <td>Drive from Surkhet to Kalyani, 4hrs and trek from Kalyani to Karaleghat Camp, 2hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 05: </th>
                                            <td>5 hrs rafting on white water and camping at First Inquiry</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 06: </th>
                                            <td>5 hrs rafting and camping at God House</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 07: </th>
                                            <td>Continuous rafting and camping at Seti Dovan</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 08: </th>
                                            <td>5 hrs rafting and camping at Jamuna Village</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 09: </th>
                                            <td>Rest day</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 10: </th>
                                            <td>Rafting down the jungle area and camping by jungle</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 11: </th>
                                            <td>Rafting to Chisapani (put out point) along with Wildlife view of Bardiya National Park and rest at Chisapani </td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 12: </th>
                                            <td>Drive back to Kathmandu</td>
                                        </tr>
                                        
                                    </table>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}            