{% extends 'main_base.html' %}
{% load static %}
{% block content %}

    
        
        
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Kathmandu, Pokhara, Sarangkot</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/kathmandu-pokhara-sarangkot-tour-l.jpg' %}" alt="Kathmandu, Pokhara, Sarangkot Tour" />
                                    </div>

                                    <p>
                                        <b>Kathmandu</b>, <b>Pokhara</b>, <b>Sarangkot</b> tour package will take you to all the important and beautiful places in Kathmandu and Pokhara. Being historically rich in cultural places Kathmandu city sightseeing tour fulfill your inner desire to know about historical and old cultural heritage. Similarly, Kathmandu is also known as the city of temples, so here in Kathmandu city tour you may encounter with many Gods and Goddesses in their own home i.e. temples. Kathmandu city tour package mingle historically, culturally and religiously significant places such as Kathmandu Durbar Square, Patan Durbar Square, Bhaktapur |Durbar Square,Swayambhunath Stupa, Pashupatinath Temple, Boudhanath Stupa, Kirtipur and Chobar.
                                    </p>
                                    <p>
                                        <b>Pokhara</b>, the most beautiful city of Nepal is located about 200 km. west of Kathmandu valley. Pokhara is the popular destination of visitors because of its natural beauty. The name Pokhara came from the Nepali word "<i>Pokhari</i>" meaning pond in English. The name Pokhara came from Pokhari because there are several lakes and ponds in Pokhara. Being rich in lakes and ponds Pokhara is also called the city of lakes. We will visit all the important and beautiful places of Pokhara such as Fewa Lake, Mahindra cave, David’s fall and Bindhabasini temple. 
                                    </p>
                                    <p>
                                        Last destination of this tour package is <b>Sarangkot</b> which is very popular place for sightseeing tour and hiking. The Sarangkot is situated in 1592m above from the sea level. It offers one of the best Mountain View in the world. Here you can see the romantic glimpse of white capped peaks such as Annapurna, Manaslu, Ganesh Himal, Dhaulagiri, Machhapuchhre and more than 20 other mountains over 6000 meters high. Sarangkot also offers the beautiful natural views of Pokhara valley. From Sarangkot you can see the sunrise over the mountains. The tour of Sarangkot can be combining with paragliding. <i>Ecological trek</i> has included all the important and beautiful places of Kathmandu and Pokhara in this tour package. If you are interested to visit other places which are not included in our itinerary we can include that place as per your request. 
                                    </p>
                                    <hr>

                                    <p><b>Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td>Arrival  in Kathmandu and transfer to hotel </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Exploration day around Kathmandu Valley</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td>Early  drive/flight to Pokhara from Kathmandu.  Sightseeing  tour in Pokhara</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Exploration day in Pokhara</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td>Drive  from Pokhara to Sarangkot. Free day</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td>Paragliding  and other activities</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Drive  /flight for Kathmandu </td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td>International Departure</td>
                                        </tr>

                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->

            
            
{%endblock%}