{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Kathmandu Valley Bird Watching</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/kathmandu-bird-watching-large.jpg' %}" alt="Kathmandu Valley Bird Watching" />
                                    </div>
    								

                                    <p>
                                       Nepal is the best/ultimate destination for bird lovers. Kathmandu Valley Bird Watching Tour is the most popular destination for bird watching including Pachpokhari, Chitwan and Koshi Tappu Wildlife Reserve Camp .Kathmandu  valley is surrounded on all sides by wonderfully green which are covered with dense forests. These hills and dense forest provide a safe home for various species of birds. Unique and different species of birds can be seen in Kathmandu valley. Kathmandu Valley Bird Watching Tour begins from Kathmandu and heading towards Godavari, we hike up to Phulchoki . Phulchoki offers a good amount of amazing birds and great views of the surrounding hills. We then head off to the Shivapuri Watershed and Wildlife Reserve where another great number of birds can be seen.



                                    </p>
                                    <hr>

                                    <h3>Itinerary</h3>
                                    <table class="routine">
                                        <tr  class="first-row">
                                            <th> Day 01: </th>
                                            <td> Arrival in Airport and transfer to Hotel </td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 02: </th>
                                            <td> Bird watching in Godavari </td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 03: </th>
                                            <td>Bird watching in Phulchowki (2759m.)</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 04: </th>
                                            <td> Bird watching in Shivapuri National Park</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 05: </th>
                                            <td> Bird watching in Nagarjun</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 06: </th>
                                            <td> Sightseeing in Kathmandu valley</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 07: </th>
                                            <td> Transfer to Airport for final departure
                                                
                                            </td>
                                       
                                        </tr>
                                    </table>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}