{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Manakamana</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/manakamana-l.jpg' %}" alt="Manakamana" />
                                    </div>
    								
                                    <p>
                                        Manakamana, another holiest place of Nepal related to the Hindu religion, situated in the Gorkha district. Manakamana is the name of Hindu godess, people believe that if they worship Manakamana their wish will fulfill. The temple of Manakamana is on the top of the hill and built in pagoda model. It is considered the most important temple of Hindus. Until the construction of cable car there was only one option to rich the temple-18km trek from Abukhaireni. Now after the construction of cable car this temple becomes easily accessible for anyone. If you are interested in trek and village life you can make romantic trek in Manakamana route. In every Saturday and during the time of Dashain festival animal sacrifice is offer to goddess Manakamana.


                                    </p>

                                    <p>
                              
                                    </p>
    								 

                                      <p>
                              
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}