{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Marsyangdi River Rafting</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/marsyangdi-river-large.jpg' %}" alt="Marsyangdi River Rafting" />
                                    </div>


                                    <p>
                                        <strong>Marsyangdi River Rafting</strong> gives
                                        you the ultimate experience of river rafting. <strong>Marsyangdi River Rafting </strong>is considered among the paradise river for
                                        the white water rafting lovers in Nepal. Marsyangdi means 'Raging River' in local’s
                                        language, and by experiencing the rafting in Marsyangdi you will find out why
                                        it has been named so.
                                    </p>
                                    <p>
                                        <b>Marsyangdi River</b> rises on the northern slopes of the Annapurna Himal, flows east through
                                        an arid valley around Manang, and then swings south to join the Trisuli River
                                        at Mugling .For most of the trip from Ngadi down to Bimalnagar the river is
                                        engrave as a winding gorge in to the valley floor about 50 meter deep with
                                        sloping well wooded sides. Only a few villages are visible during this
                                        river&nbsp; trip and at times you could almost be on a river in Idaho or
                                        British Columbia. As the river turns fresh views unfold behind of the Manaslu
                                        and Annapurna ranges - a magnificent backdrop. You can also view beautiful
                                        campsites.
                                    </p>
                                    <p>
                                        The lower<b> Marsyangdi</b> gorges from Bimal Nagar down the Mugling, used to be an
                                        excellent river trip, but now a new dam has been built own stream of Bimalnagar
                                        to generate electricity for Kathmandu. So there is almost no water left in this
                                        section of the river and it can no longer be recommended for rafting. Even though,
                                        you can enjoy rafting in other parts of <b>Marsyangdi River</b><i>.</i> 
                                    </p>

                                    

                                    <hr>

                                    <p><b> Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu and transfer to Hotel</td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Sightseeing in Kathmandu Valley.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> 5hrs drive to Besisahar and short drive to Nagdi.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Rafting from Nagdi to Bhoteodar</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Rafting from Bhoteodar to Turture</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Rafting from Turture to Bimal Nagar</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Packing and 5hrs drive to Kathmandu</td>
                                        </tr>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
            
            