{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Mountain Expedition in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/mountain-expedition-in-nepal-large.jpg' %}" alt="Mountain Expedition in Nepal" />
                                    </div>
    								

                                    <p>
                                       Nepal is considered as the country of Himalayas, with its ten out of the world’s sixteen above 8000m icy peaks. Anyone who really wants to challenge the icy peaks then Nepal is the best destination for them. Nepal’s north part journey is the journey of paradise for the Mountain Expedition lover. Because of world’s ten highest peaks and other several white capped peaks Expedition in Nepal become most challenging, adventurous, popular and equally amusing sport. This sport became popular in Nepal when Sir Edmund Hillary from New Zealand and Tenzing Norgay Sherpa from Nepal first climbed the Mt. Everest in May 1953. As the Himalayas are the greatest mountains range of the world, their magnificence, enormity, charm and anonymity will always appeal for those who venture in to this region. Hence, flock of white peaks’ lovers increases every year in Nepal.
                                    </p>

                                    <p>
                                        Peaks, 6000 to 8848m are available in Nepal for the expedition so Nepal has become dream land for the lover of Mountains Expedition. Mountaineers can choose romantic expedition like on Mt Amadablam and Barunste and most challenging expedition like Mt Sagarmatha and Mt Manaslu according to their interest. Other popular Mountains expedition in Nepal are Mt. Annapurna expedition, Mt. Lhotse expedition, Mt Dhaulagiri expedition, Mt. Pumori expedition, Mt. Baruntse expedition. Expedition on these different Mountains fills up with their own romantic, risky and adventurous feature. Several mountains and distinct feature of their own play the vital role to make Nepal as the last destination of mountaineers around the world

                    

                                    </p>
    							</div>
                                <!-- End Text -->

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'everest-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/everest-expedition-s.jpg' %}" alt="everest-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        As the tallest mountain of the world Mt Everest Expedition is most challenging, courageous, adventurous and risky expedition of the world.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Everest Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'annapurna-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/annapurna-expedition-s.jpg' %}" alt="annapurna-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        The Annapurna Mountain Range is located in the North-central part of Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Annapurna Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'manaslu-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/manaslu-expedition-s.jpg' %}" alt="manaslu-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Manaslu Mountain 80163m is the 8th highest peak in the world located in the Gorkha, district western region of Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Manaslu Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'dhaulagiri-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/dhaulagiri-expedition-s.jpg' %}" alt="dhaulagiri-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Mt. Dhaulagiri, 80167m is the 7th highest Mountain in the world, which is located in the Dhaulagri Zone of north central Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Dhaulagiri Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'pumori-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/pumori-expedition-s.jpg' %}" alt="pumori-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Mt. Pumori, 7,0161m, is located in the Khumbu Region of Nepal, about 8km west of Mt. Everest along Nepal Tibet Border.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Pumori Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'lhotse-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/lhotse-expedition-s.jpg' %}" alt="lhotse-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Mt. Lhotse is located in the Khumbu Region of Nepal, about 3km south of Mt. Everest along Nepal Tibet Border. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">Lhotse Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'amadablam-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/amadablam-expedition-s.jpg' %}" alt="amadablam-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Amadablam 6,812m is considered one of most beautiful Mountain in the world and expedition on Mt. Amadablam is very quixotic. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Amadablam expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'baruntse-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/baruntse-expedition-s.jpg' %}" alt="baruntse-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Baruntse, 7,129m one of the most beautiful mountain located in the heart of Khumbu massif and surrounded by the some of the world’s famous mountains such as Mt. Everest, Makalu, Amadablam and Mera
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Baruntse Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'cho-oyu-expedition'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/cho-oyu-expedition-s.jpg' %}" alt="cho-oyu-expedition" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Cho Oyu(8201m.) is the world’s sixth highest mountain situated in the Nepal-Tibet border.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Cho Oyu Expedition
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
          