{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Mountain Flight in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/mountain-flights-large.jpg' %}" alt="Mountain Flight in Nepal" />
                                    </div>
    								

                                    <p>
                                      As a Mountainous country, Nepal offers an amusing flight tour of snow capped peaks. If you have limited time and physically unfit for trekking, mountain flight tour package gives you the best opportunity to the panoramic encounter with 10 of the highest mountains in the world including the highest of them all mount Everest 8848m, and others.

                                    </p>

                                    <p>
                                      In 1 hour long flight, you will get the spectacular close up view of the highest peak in the world mount Everest 8848m, Goaithan 8013m, Dorje Lakpa 6966m, Gauri Shankar 7134m, Meiungtsee 7013m, Chugimago 6297, Karyolung 6511m, Gyachungkang 7952m, Pumori 7101m, Nuptse7835m.  The trip of the <b>Mountain Flight </b>begins from the Tribhuvan International Airport. When the aircraft takes the direction of the east snow capped peaks appear as if large white wall. When snow capped peaks starts to appear one after another you can’t sit, you stand from your sit and start to catch the beautiful appearance in front of you in your camera. The insurmountable feeling and emotion convince you that Nepal is really mountain lover’s paradise.
                                    </p>

                                    <p>
                                      <b>Mountain Flight Tour</b> is offer by four major Airlines of Nepal- Buddha Air, Yeti Airlines, Agni Air and Guna Airlines on a regular basis.  After finishing the <b>Mountain Flight Trip</b> in Nepal you can be proud enough to say that you have seen the highest or tallest point of this world 8848m through your own eyes. Though the best time for mountain flight in Nepal is beginning of September to end of December but it can be the any weather clear day in the whole day. Normally <b>Mountain Flight Tour Package</b> takes place in morning. So, in the day time and in the evening time you can engage yourself in other activities.
                                    </p>
                                      
                                    
                                    <hr>

                                    
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
           
            