{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Muktinath Temple</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/muktinath-temple-l.jpg' %}" alt="Muktinath Temple" />
                                    </div>
    								
                                    <p>
                                        Muktinath is a sacred place for the pilgrimage of both religions: Hindu and Bhuddist. Muktinath Temple is located in Mustang district’ Baraha gaun, 3,710m above the sea level at the foot of the Thorong La Mountain. Mukthinath Temple is about 110km far from pokhara and 20 km far from jomsom.  The Hindus call it Muktichhetra, a place of salvation is one of the four religious sites of Hindu. This is called muktichhetra, a place of salvation because according to Hindu mythology Lord Vishnu got free from the curse of Sati in the form of shaligram. Many shaligrams (Ammonite) found in the muktinath temple premises and in the bank of Kaligandaki River. And these shaligram are considered by Hindu as incarnation of lord Vishnu and worship them faithfully.
                                    </p>

                                    <p>
                                        Muktinath Temple is constructed in pagoda model where statue of lord Vishnu is placed.  In front of Muktinath Temple there are two mukti kunda named laxmi and Saraswoti kunda. Hindu people believe that if they drown in these kunda their negative works of past will wash away as a consequence they will get ultimate salvation.
                                    </p>
    								 

                                      <p>
                                        Mukti dhara, 108 waterspouts are made beside the Muktinath Temple in the shape of cows head. The water from kaligandaki River continuously flowing through the mouth of the cows head shaped waterspouts. Hindu pilgrims who visit the temple take a holy bath in each of these spouts in order to get ultimate salvation. Jawala mai temple is another attraction of Muktinath. In Jawala mai temple there are three eternal flames: Holy flame from the water, Holy flame from the soil and Holy flame from the rock fed by the natural gas. This Muktinath Temple premises is located in geographically decorated beautiful muktinath valley whose beauty enchants all the visitors.
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}