{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Shivapuri Hiking - 1 Day</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <ul class="clearlist content-slider">
                                            <li>
                                                <img src="images/portfolio/full-project-1.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-2.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-3.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                    <p>
                                        The day tour starts with gathering
                                        of hiking team members at Thamel around 6:30 am. The team will have their
                                        breakfast there only then depart in the private jeep arranged by <strong>Ecological
                                        Treks</strong> with the hiking guides for Sankhu. It is 1 hour drive from Kathmandu
                                        to Sankhu. The guides will give some information for hiking to Nagarkot. Then
                                        hiking starts from Sankhu to Nagarkot. 
                                    </p>
                                    <p>
                                        <strong>Hiking </strong>from Sankhu to Nagarkot is a total 4
                                        hrs. walking distance. During this hiking one can experience typical village
                                        with green farming land.&nbsp; In looking behind, one can view the Kathmandu
                                        Valley. From the half way up one can see the <em>Langtang Himal </em>range and
                                        more of&nbsp;the eastern range. During this <em>hiking </em>one can also see the
                                        flora and fauna found&nbsp;locally. &nbsp; 
                                    </p>
                                    <p>
                                        Lunch will be held at <em>Nagarkot</em>.
                                        After lunch, in the free time, one can explore the natural beauty of Nagarkot
                                        with the charismatic view of Mountain range. The "cherry on the cake"
                                        for this one day hiking is the <strong>sunset view</strong> from&nbsp;Nagarkot<strong><em> View
                                        Tower</em></strong>. The view of reflection of sun rays in the Himalayas can
                                        mesmerize anyone in one hand and beauty of Kathmandu Valley on the other.
                                        &nbsp;The Himalayas above 8,000 meter can be seen like Everest, Gauri Shankar,
                                        Manaslu, Langtang and Dhorje Lakpa. Then the team will return to Kathmandu. Returning
                                        to Kathmandu will be in the private jeep. So, if you want to explore the
                                        experience of hiking, this is the best opportunity for you.
                                     </p>
                                     <hr>
                                     <div >
                                             <h3>Fact of the Trip:</h3><p><b>Departure:</b> Every Day</p><p><b>Duration: </b>1 Day</p><p><b>Trip Type: </b>Private <b><br /></b></p><p><b>Group Size</b>:  Minimum 1, maximum 25<b><br /></b></p><p><b>Start  from: </b>Thamel</p><p><b>Ends  at: </b>Thamel<b><br /></b></p><p><b>Places to See/Visit: </b>Sankhu, Nagarkot</p><p><b>Transportation:</b> Private car or Van</p></div>
                                             <hr>
                                             <div class="section3"><h2>Hiking Tour Itinerary</h2><p><b>Morning: </b>Prepare for hiking and drive to Sankhu, hiking starting place</p><p><b>Afternoon:</b> Hike to Nagarkot for 4 hours</p><p><b>Evening:</b> Stay at Hotel in Nagarkot or Drive Back to Kathmandu</p></div>
                                             <hr>
                                             <div class="section4"><div>
                                            <h2>Cost Information</h2><p><b>Trip Cost:</b> Provide on request</p><h3>Cost Includes:</h3><ul><li>All ground
                                             transportation by private car</li><li>Entrance fee for
                                             sightseeing places</li><li>Tour Guide</li></ul><h3>Cost Excludes:</h3><ul><li>All meals in Kathmandu</li><li>Alcoholic/luxury
                                             drinks and Private expenses</li><li>Hotel Accommodation</li></ul>
                                            </div>
    							     </div>

                                        <hr>

                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
