{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Nepal Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/nepal-tour-l.jpg' %}" alt="Nepal Tour" />
                                    </div>

    							</div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'hindu-pilgrimage-tour'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/hindu-pilgrimage-tour-s.jpeg' %}" alt="Hindu pilgrimage Tour" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                          Majority of people here in Nepal are Hindus and several temples and places related to Hindu religion in Nepal are frequently visited.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                               Hindu pilgrimage Tour
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="team-item">

                                            <a href="{% url 'pokhara-city-tour'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/pokhara-day-tours-s.jpg' %}" alt="Pokhara City Tour" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Everest Region</h4> -->
                                                        
                                                        <p>
                                                            Pokhara, the most beautiful city of Nepal is located about 200 km. west of Kathmandu valley. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Pokhara City Tour
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="team-item">

                                            <a href="{% url 'kathmandu-pokhara-sarangkot-tour'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/kathmandu-pokhara-sarangkot-tour-s.jpg' %}" alt="Kathmandu, Pokhara, Sarangkot Tour" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Annapurna Region</h4> -->
                                                        
                                                        <p>
                                                           Kathmandu, Pokhara, Sarangkot tour package will take you to all the important and beautiful places in Kathmandu and Pokhara.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Kathmandu, Pokhara, Sarangkot Tour
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'kathmandu-valley-trek'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/kathmandu-valley-trek-s.jpg' %}" alt="Kathmandu Valley Trek" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                            Kathmandu – Chisapani – Nagarkot – Dhulikhel – Namobuddha is the ideal romantic trek around the Kathmandu valley. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Kathmandu Valley Trek
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="team-item">

                                            <a href="{% url 'best-of-nepal-tour'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/best-of-nepal-tour-s.jpg' %}" alt="Best of Nepal Tour" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Everest Region</h4> -->
                                                        
                                                        <p>
                                                     Best of Nepal Tour package combines the several important places of Nepal which will give diverse experience to the visitors. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Best of Nepal Tour
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                  
                                    <!-- End Team item -->
                                    
                                </div>
    							
    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}