{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Paldor Peak Climbing</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/paldor-peak-climbing-large.jpg' %}" alt="Paldor Peak Climbing" />
                                    </div>


                                    <p>
                                        <b>Paldor Peak</b> is located in Ganesh Himal Region which is also popular trekking destination of Nepal. Beside magnificent views of several towering snowy peaks Ganesh Himal Region is famous for its Tamang culture and beautiful isolated landscape. Our trail goes through two main Tamang villages: Tangjet and Gatlang. In these villages you will get chance to observe Tamang festivals and their way of life. Moreover you will get opportunity to be familiar with Tamang culture by staying with them in their home. Paldor
                                        is below 6000m peak so this expedition is best for those who want to gain
                                        necessary experience for top mountain expedition. Any interested physically fit
                                        climbers easily can go<b> Paldor Peak Expedition</b>. Our journey towards Paldor peak
                                        summit starts from Kathmandu. After completing 6/7 hours bus journey we will reach
                                        to Dhunche. From Dhunche we will move forward by crossing different places such
                                        as syabruGaon, Thaugjet, Yuri Kharka, Lari Mine and reach to <b>Paldor Base Camp</b>.
                                        Finally from base camp we will reach to Paldor summit. From Paldor summit
                                        magnificent picture of Ganesh Himal, Pabil, Mt. Langtang, Mt. Manaslu,
                                        LgosangKarpo, Ganesh Himal I (7,406), Ganesh Himal V (6.950 m), and Langtang
                                        valley can be seen. After rewarding these magnificent pictures, trip returns via
                                        same route to Kathmandu. Ecological trek has been designed<b> Paldor Peak Expedition</b> itineraries by our Himalaya trekking expert. We tried our best to
                                        include adventurous trail and interesting activity in our itineraries. If our
                                        itineraries do not suit for you then we are ready to make itineraries long or
                                        short in accordance to your desire and holiday time.&nbsp; 
                                    </p>

                                    <hr>

                                    <p><b>Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrival to Kathmandu airport and transfer to hotel </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Preparation day for the trek</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Kathmandu to Dhunche by bus (1950m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Trek to Syabrubesi</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Syabrubesi to Thangjet (1676m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Thangjet to Yuri Kharka Camp</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Yuri Kharka to Lari Mine</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td>Lari Mine  to Base Camp</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> Base Camp Rest Day for Acclimatization</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td>Base Camp to High Camp</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td> Climbing Paldor Back to Base camp</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td> Base Camp to Lari Mine </td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td> Lari Mine to Yuri Kharka</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td>Yuri Kharla to Thangjet</td>
                                        </tr>
                                        <tr>
                                            <th> Day 15: </th>
                                            <td> Thangjet to SyabruBensi (1450m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 16: </th>
                                            <td> Drive to Kathmandu (1338m.)</td>
                                        </tr>
                                        <tr>
                                            <th> Day 17: </th>
                                            <td>Free day in Kathmandu</td>
                                        </tr>
                                        <tr>
                                            <th>Day 18: </th>
                                            <td>Final Departure</td>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->

            
{%endblock%}
