{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Paragliding in Nepal - 1 Days</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/paragliding-in-nepal-large.jpg' %}" alt="Paragliding in Nepal" />
                                    </div>
    								

                                    <p>
                                      As the land of adventurous, Nepal offers another adventurous entertainment package for the visitors,that is Paragliding, flying in the sky like a birds. The Pokhara Valley is the main area of paragliding. Starts from <b>Sarangkot</b> 1592m with the views of the White Mountains including three of the world’s 8000m peaks and beautiful <b>Pokhara City</b>, the flight trip ended after one hour in the bank of Fewa Lake.

                                    </p>
                                      
                                    <p>
                                      Imagine you are in the open blue sky, before you there are three of the world’s 800m white peaks, below you beautifully decorated  Pokhara City is sleeping by keeping in her lap beautiful lakes like Fewa, Begnas and Rupa. If you make a flight once you never forget the jovial experience. When you walk on the earth you look in the sky and say "I was there in the heaven!" with proud.

                                      
                                    </p>

                                    <p>
                                      <b>Paragliding</b> is the sport which is dependent on the weather. And the flying season in Nepal is November and December. The main area for paragliding in Nepal is Annapurna Region, Pokhara, 200 km east west from Kathmandu Valley. You can reach Pokhara within 6 hours drive by bus or direct flight from Kathmandu. From Pokhara City you can reach paragliding starting point Sarangkot by taxi. From here your thrilling experience and real journey of flying starts. During the journey of flying you will get eyes pleasing sights of Annapurna range, beautiful landscape around Pokhara Valley, virgin mt. Machhapuchhre, Lamjung Himal, Himchuli ,Fewa Lake, rice field and Rivers.
                                    </p>

                                    <p>
                                      If you don’t have any experience of Paragliding before, you need not to worry because experienced pilot provides you essential information before the flight. Moreover, there is the option of double flight and single flight, that is to say you can fly with pilot or without pilot. This interesting short flight trip can be done after or before the trekking when you have rest day in Pokhara. 
                                    </p>
                                    <hr>

                                    <h3>Itinerary</h3>
                                    <table class="routine">
                                        <tr  class="first-row">
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu.</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 02: </th>
                                            <td> Sightseeing of Kathmandu valley</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 03: </th>
                                            <td> 7 hrs drive or 30 minutes flight from Kathmandu to Pokhara</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 04: </th>
                                            <td>Sightseeing in Pokhara</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 05: </th>
                                            <td> Drive to Sarangkot and getting orientation on paragliding</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 06: </th>
                                            <td> Paragliding day</td>
                                        </tr>
                                
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 07: </th>
                                            <td>Watch sunrise and mountain views and drive from Sarangkot to Pokhara
                                                
                                            </td>
                                       
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 08: </th>
                                            <td> Flight or drive from Pokhara to Kathmandu
                                                
                                            </td>
                                       
                                        <tr class="first-row">
                                            <th> Day 09: </th>
                                            <td> Final departure to homeward
                                                
                                            </td>
                                       
                                        </tr>
                                    </table>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
           