{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Pashupatinath</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/pashupatinath-l.jpeg' %}" alt="Pashupatinath" />
                                    </div>
    								
                                    <p>
                                    The name Pashupatinath comes after Lord Shiva, who is worshipped as a pashupati meaning Lord of all living creature. Pashupatinath Temple is situated 6 km east of Kathmandu. Pashupatinath temple premises also known as Pasupat chhetra is the holiest place of Hindu, where Hindu pilgrimage around the world come and gives tribute to the Lord Shiva especially in Shivaratri (night of Shiva) festival. Beside main Pashupatinath Temple there are many temples related to Hindu Gods and Goddesses one of them is Guheswori temple related to Ma Durga. A walk from Guheswori to Aryaghat near pashupati temple is interesting to the all visitors because small jungle is situated in-between these places. Aryaghat  is cremation place of Hindu people so you will get the chance there to see cremation according to Hindu ritual. Pashupatinath Temple premises are protected by UNESCO world heritage site. This is the most important section in Hindu pilgrimage tour.
                                    </p>

                                    <p>
                               
                                    </p>
    								    
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}