{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
                                <div class="blog-item-body">
                                    
                                    <h1 class="mt-0 font-alt">Peak Climbling in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/peak-climbing-in-nepal-large.jpg' %}" alt="Peak Climbling in Nepal" />
                                    </div>
                                    
                                    <p>
                                        Nepal is a mountainous country situated in the centre of Himalayan ranges. The landscape of Nepal is so incredibly diverse that it ranges from 70m to 8848m from the sea level. Out of fourteen highest peaks of the world above 8000m, Nepal hosts eight which includes the world’s highest Mt. Everest (8848m), Mt. Kanchenjunga (8,586m), Lhotse (8,510m), Makalu (8,463m) Cho-Oyo (8,201), Dhaulagiri (8,518m), Manaslu (8, 103m) and Annapurna (8, 091m). Beside these, there are more than 1000 snow covered mountains. So Nepal is the most popular mountaineering and peak climbing destination in the world.  


                                    </p>

                                    <p>
                                        Peak Climbing or Peak Trekking which is an easier attempt than peak expedition which is the opportunity for the mountaineers to enjoy the pleasure of both mountaineering and trekking. In Nepal more than 300 peaks are open for mountaineering; and Nepal Mountaineering Association (NMA) has classified 33 peaks as trekking peaks. Some of the trekking peaks are Mera Peak, Chulu East, PisangHimal, Yala, Mardi Himal etc. To climb these peaks, the company of the expert mountaineer guides is needed along with the official climbing permit.
                                    </p>
                                    
                                    
                                </div>
                                <!-- End Text -->

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'island-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/island-peak-climbing-s.jpg' %}" alt="" />
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->

                                                        <p>
                                                        <b>Trek Type :</b> Camping
                                                        </p>
                                                        
                                                        <p>
                                                        <b>Duration :</b> 19
                                                        </p>

                                                        <p>
                                                        <b>Grade :</b> Moderate
                                                        </p>

                                                        <p>
                                                        <b>Season :</b>  Autumn and Spring
                                                        </p>

                                                        <p>
                                                        <b>Max. Elevation :</b> 6189
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                  Island Peak Climbing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'mera-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/mera-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->

                                                        <p>
                                                        <b>Trek Type :</b> Tea-House/Camping
                                                        </p>
                                                        
                                                        <p>
                                                        <b>Duration :</b> 23
                                                        </p>

                                                        <p>
                                                        <b>Grade :</b> Strenuous
                                                        </p>

                                                        <p>
                                                        <b>Season :</b>  September to November & February to May
                                                        </p>

                                                        <p>
                                                        <b>Max. Elevation :</b> 6476M
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                  Mera Peak Climbing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'pisang-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/pisang-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        <b>Trek Type :</b> Tea-House/Camping
                                                        </p>
                                                        
                                                        <p>
                                                        <b>Duration :</b> 23
                                                        </p>

                                                        <p>
                                                        <b>Grade :</b> Strenuous + Moderate
                                                        </p>

                                                        <p>
                                                        <b>Season :</b>  September to November & February to May
                                                        </p>

                                                        <p>
                                                        <b>Max. Elevation :</b> 6091M
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                  Pisang Peak Climbing

                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'tent-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/tent-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        <b>Duration :</b> 
                                                        </p>

                                                        <p>
                                                        <b>Grade :</b> Moderate
                                                        </p>

                                                        <p>
                                                        <b>Season :</b>  March to May and October to November.
                                                        </p>

                                                        <p>
                                                        <b>Max. Elevation :</b>5663 M
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                  Tent Peak climbing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'yala-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/yala-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->

                                                        <p>
                                                        <b>Trek Type :</b> Tea House/Camping
                                                        </p>
                                                        
                                                        <p>
                                                        <b>Duration :</b> 15
                                                        </p>

                                                        <p>
                                                        <b>Grade :</b> Streneous
                                                        </p>

                                                        <p>
                                                        <b>Season :</b>  Autom & Spring
                                                        </p>

                                                        <p>
                                                        <b>Max. Elevation :</b> 5646M
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                 Yala Peak Climbing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'paldor-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/paldor-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                            Paldor Peak is located in Ganesh Himal Region which is also popular trekking destination of Nepal.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Paldor Peak Climbing

                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'thorung-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/thorung-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                            Thorong Peak is located in the Annapurna mountain region. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Thorung Peak Climbing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'singuchuli-peak-climbing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/singuchuli-peak-climbing-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Singuchuli also known as fluted peak is another beautiful peak located in Annapurna region.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                 Singuchuli Peak Climbing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
                                
                            </div>
                            <!-- End Post -->
                            
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->

{%endblock%}