{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Pokhara City Sightseeing</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/pokhara-city-sightseeing-large.jpg' %}" alt="Pokhara City Sightseeing" />
                                    </div>
    								

                                    <p>
                                       Pokhara City is the third largest city of Nepal with the beautiful landscape surrounded by mountains and lakes.It provides visitors with the beautiful view of mountain ranges and the lakes.  Pokhara is the most important tourist(national as well as international) destinations in Nepal. The Pokhara city consists of  various popular places such as Davis Falls, Mahendra Gufa,Bindabasini temple, Panchase Lake, World Peace Pagoda and many more.


                                    </p>

                                    <p>
                                        The most exciting part of Pokhara City Sightseeing is tour to World Peace Pagoda. One feels very refreshed and relaxed seeing these places. As three of the tallest mountains view can be seen from the Pokhara city, it also provides a base for trekkers undertaking the Annapurna Base Camp. 
                                    </p>
                                    <hr>

                                    <h3>Itinerary</h3>
                                    <table class="routine">
                                        <tr  class="first-row">
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu Airport and transfer to Hotel</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 02: </th>
                                            <td> Visiting the UNESCO listed heritages of Kathmandu valley </td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 03: </th>
                                            <td>30 minutes drive or about 7 hrs drive from Kathmandu to Pokhara</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 04: </th>
                                            <td> Boating on Phewa Lake and visiting Talbarahi Temple including Begnas Lake and David’s Fall</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 05: </th>
                                            <td> Sightseeing of Bindabasini Temple, Old Bazaar, Seti Gorges, Mahendra Cave, Regional Mountain Museum, Bat Cave</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 06: </th>
                                            <td> One hrs trek or 20minutes drive to Sarangkot Hill (1600m), watching sunrise and Mountain View, back to city and sightseeing of World peace Pagoda, Tibetan refugee camp in Hemja</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 07: </th>
                                            <td> Flight or drive from Pokhara to Kathmandu
                                                
                                            </td>
                                       
                                        </tr>
                                    </table>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%} 