{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Pokhara City Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/pokhara-day-tours-l.jpg' %}" alt="Pokhara City Tour" />
                                    </div>

                                    <p>
                                        <b>Pokhara</b>, the most beautiful city of Nepal is located about 200 km. west of Kathmandu valley. Pokhara is the popular destination of visitors because of its natural beauty. The name Pokhara came from the Nepali word<i> "pokhari"</i> meaning pond in English. The name Pokhara came
                                        from <i>Pokhari</i> because there are several lakes and ponds in Pokhara. Being rich
                                        in lakes and ponds Pokhara is also called the <b>"City of Lakes</b>". Imagine the lap of
                                        Pokhara is fill up with beautiful lakes and ponds and the head of Pokhara is
                                        surrounded by the white capped peaks-how beautiful it is! Beside the lakes and
                                        mountains, Pokhara city is also famous for cave and gorge. <i>Pokhara City Tour</i> is
                                        popular tour in Nepal as it combines natural sightseeing of surrounding environments,
                                        cultural and educational experiences, and heart touching glimpse of mountains.
                                    </p>
                                    <p>
                                        <strong>Fewa Lake</strong>
                                    </p>
                                    <p>
                                        The <b>Fewa Lake</b> where the eyes
                                        pleasing shadow of Machhapuchhre and Anaapurna Mountains can be seen, is the
                                        second largest lake in Nepal. This lake is 4.8 km. long, 1.5 km. wide and 24m
                                        deep.&nbsp; The Fewa Lake covers area of about
                                        4sq.km. This is the second largest lake in Nepal after Rara Lake in Mugu
                                        district. This lake is on the lap of Rani Jungle. The Fewa Lake is famous for
                                        boating; in its cool water you will get the pleasure of romantic boating. You
                                        can rent wooden boats around Lakeside on hourly basis and for the whole day.
                                        Sailboats are also available but usually there is not enough wind.
                                    </p>
                                    <p>
                                        <strong>Varahi Temple </strong>
                                    </p>
                                    <p>
                                        <b>Varahi Temple</b> is set on the small island in
                                        the center of Fewa Lake. On Saturdays Nepal's Hindu people perform puja and
                                        animal sacrifice. A boat gives you easy acess to Varahi Temple. From the
                                        premises of&nbsp; this Varahi Temple you will
                                        get the romantic glimpse of whole Fewa Lake.
                                    </p>
                                    <p>
                                        <strong>Begnas Lake</strong>
                                    </p>
                                    <p>
                                        <b>Begnas Lake</b> is located in the south-east of
                                        pokhara valley,677m. above from the sea level. This is the second biggest Lake
                                        of pokhara valley after the Fewa Lake. This lake is on the lap of&nbsp; Pachhavaiya Hill.
                                    </p>
                                    <p>
                                        <strong>Rupa Lake</strong>
                                    </p>
                                    <p>
                                        <b>Rupa lake</b> is located in the South-east of Pokhara valley, 701m. above from the sea level. This lake is also on the lap of
                                        Pachhavaiya Hill. And this lake is famous for fish farming.
                                    </p>
                                    <p>
                                        <strong>Mahendra Cave</strong>
                                    </p>
                                    <p>
                                        <b>Mahendra Cave</b>, also known as the house of
                                        bats is another destination in Pokhara for the nature wonders. This cave is
                                        situated in the north part of Pokhara valley, the area is known as Batulechaur.
                                        Mahendra cave is natural cave that is made from the limestone. As one of the
                                        darker sights in Nepal, the Mahendra cave gives visitors the chance to embark
                                        on an adventure. Locals refer to the cave as the House of Bats,<em>Chamero Odaar</em>&nbsp; as there are lots of bats hanging inside the
                                        cave. The Mahendra and other caves in the region are explored with flashlights,
                                        but more recently lights have been installed into the cave. Since the setting
                                        up of the lights, the sightings of bats have declined as the lights clearly
                                        disturb the bats, forcing them to displace. The lack of supervision, when
                                        tourists and visitors enter the caves is also very disturbing as the continuous noise and movement of humans is very tense to the
                                        bats.
                                    </p>
                                    <p>
                                        <strong>David’s Fall</strong>
                                    </p>
                                    <p>
                                        Beautiful Pokhara city has many more natural
                                        ornament to offer in terms of visitors attraction. Among these ornament <b>David’s
                                        Fall</b> is one that attracts many visitors who come to Pokhara. The David’s Fall also
                                        known as <em>Patle Chhanga</em> located in
                                        the gorge of Seti river in Pardi, about 2km. southwest of Pokhara airport. The
                                        water in this gorge comes from the Seti River and disappear under the field and
                                        appear nowhere. The suitable time to watch this fall is monsoon season. You
                                        must be careful while visiting this area because there are the incidents people
                                        drowning in this fall. Near to David’s Fall there is a little cave named
                                        Gupteshwor, you can make short visit there too.
                                    </p>
                                    <p><strong>Bindabasini Temple</strong>
                                    </p>
                                    <p>
                                        <b>Bindyabasini Temple</b> is located in the centre
                                        part of pokhara city. The Bindabasini temple was founded in BS 1845 in
                                        fascinating white pagoda style. This temple is considered holy places of Hindus
                                        people. The temple itself is dedicated to the Hindu goddess Durga, who is Pokhara's
                                        chosen guardian deity. Animal sacrifices are typically presented at the temple
                                        on Saturdays and Tuesdays. The Hindu festival of Dashain sees large numbers of
                                        believers coming to offer sacrifices at Binhyabasini Mandir in the name of
                                        Goddess Durga. From this temple premises you will get the glimpse of Annapurna
                                        and Machhapuchre Ranges and short view of pokhara valley. Near the road by this
                                        temple you can go to sarangkot,another popular look out point.
                                    </p>

                                        <hr>

                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}           
            
         