{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Pokhara Valley Sightseeing Tour</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/pokhara-valley-sightseeing-large.jpg' %}" alt="Pokhara Valley Sightseeing Tour" />
                                    </div>
    								

                                    <p>
                                        There are many places around pokhara valley famous for sightseeing tour. From these places you will get the fantastic glimpse of white capped peaks, Lakes, Rivers, beautiful pokhara city, green hills and realistic picture of traditional Nepalese villages. The places that are famous for sightseeing tour around the pokhara valley are Sarangkot, world peace pagoda, Panchase Lake, and Bindabasini.

                                    </p>

                                    <p>
                                        <h4>Sarangkot</h4>

                                        Sarangkot is very popular palce for sightseeing tour along with hiking. The Sarangkot is situated in 1592m above from the sea level. It offers one of the best mountain view in the world. Here you can see the romantic glimpse of white capped peaks such as Annapurna, Manasalu, Ganesh Himal, Dhaulagiri, Machhapuchare and more than 20 other mountains over 6000 meters high. Sarangkot also offers the beautiful natural views of pokhara valley. From Sarangkot you can see the sunrise over the mountains. The tour of sarangkot can be combine with paragliding.




                                    </p>
                                    <p>
                                    <h4>Panchase Lake</h4>

                                    This Lake is situated in the boarder of three districts: Kaski, Syangja, and Parbat. This Lake is 2509m above from the sea level. View tower is made in the premises of this Lake, from this view tower panomaric view of Anapurna range and romantic picture of Pokhara valley can be seen. Moreover, in The Panchase Lake Siddha Baba temple is also situated,Hindu people gather there to perform puja.


                                    </p>

                                    <p>
                                        <h4>>World Peace Pagoda</h4>

                                        World peace pagoda is situated in southern hill of pokhara valley, and below there is Siddratha highway. The brilliant-white World Peace Pagoda was constructed by Buddhist monks from the Japanese Nipponzan Myohoji organisation. A Peace Pagoda is a Buddhist stupa designed to provide a focus on peace for people of all races and creeds, and to help unite them in their search for world peace. From the premises of this pagoda you will get the romantic picture of Fewa Lake, eyes pleasing sight of Annapurna range and the clear picture of whole pokhara valley.


                                    </p>

                                    <p>
                                        <h4>Bindabasini temple</h4>

                                         Bindabasini temple is located in the centre part of Pokhara city, the Pokhara valley along with white capped peaks Annapurna and Machhapuchhre ranges can be seen clearly from here. If you don’t have a time to go to other sightseeing places and eager for sightseeing of Pokhara valley then Bindabasini temple premises may be the best option for you.
                                    </p>
                                    
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}    