{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Rafting in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/rafting-in-nepal-large.jpg' %}" alt="Rafting in Nepal" />
                                    </div>
    								
                                    <p>
                                        In terms of water and Rivers Nepal is considered
                                        second richest country in the world. Because of suitable geographical location
                                        Rafting in Nepalese Rivers gives insurmountable pleasure to anyone who is
                                        seriously interested in rafting. So, Nepal is earning the reputation of being
                                        one of the best places in the world for rafting. Rafting in Nepal combines
                                        spectacular Rivers, mountain scenery, wild life and rich cultural heritage,
                                        which makes Nepal an obvious River runner’s destination.
                                    </p>
                                    <p>
                                        For the purpose of rafting Nepalese Rivers are
                                        graded on an international scale from class 1 to 6. This grading is made on the
                                        basis of difficulty- class 1 is defined as easy moving water with few
                                        obstacles, and class 6 is considered nearly impossible to negotiate and a
                                        hazard to life. A person who is physically fit and did not afraid with water
                                        can safely go rafting on Rivers with grading from 1 to 3. But the rafters who
                                        wants to go rafting on Rivers more than grade 3, physical fitness and did not
                                        afraid with water would not sufficient. They should be active, confident in
                                        water and preferably have some rafting experience.
                                    </p>
                                    <p>
                                        The best time for rafting in Nepal is September to
                                        early December and March to early June. The Rivers can be extremely high with
                                        monsoon from June to August. The monsoon rain arrive and the Rivers carry 10
                                        times their low water flow, and can flood with 60 to 80 time as much. High
                                        flows can obviously make Rivers much more difficult. So, any expeditions
                                        attempted at this time require very experienced rafting company, strong team
                                        and considerably more confident. Rivers trips last from one to several days and
                                        your choice depends on the time available and where you are heading. White
                                        water varies with the time of year as the Rivers rise and fall dramatically
                                        during the season, depending on rainfall and snow melt.
                                    </p>
                                    
                                    
    							</div>
                                <!-- End Text -->

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'trisuli-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/trisuli-river-rafting-s.jpg' %}" alt="trisuli-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        The Trisuli River is known as the River of classic.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Trisuli River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'kali-gandaki-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/kali-gandaki-river-rafting-s.jpg' %}" alt="kali-gandaki-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Kali Gandaki River is known as the river of God.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Kali Gandaki River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'karnali-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/karnali-river-rafting-s.jpg' %}" alt="karnali-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        The Karnali River is the longest and the largest River in Nepal which runs in the western part of Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Karnali River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'sunkoshi-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/sunkoshi-river-rafting-s.jpg' %}" alt="sunkoshi-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Sunkoshi River Rafting is the longest River rafting offered in the Nepal which is about 270km.from Dolalghat to Chatara.
                                                        </p>

                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Sunkoshi River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'seti-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/seti-river-rafting-s.jpg' %}" alt="seti-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Seti River, River of White Water runs through the western region of Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Seti River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'bhotekoshi-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/bhotekoshi-river-rafting-s.jpg' %}" alt="bhotekoshi-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Three hours towards the east from Kathmandu valley, the Bhotekoshi is one of the best two day rafting trip to be found in the Nepal.
                                                        </p>

                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Bhotekoshi River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'dudh-koshi-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/dudh-koshi-rafting-s.jpg' %}" alt="dudh-koshi-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Dudh Koshi River Rafting is one of the major white water rafting in eastern Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Dudh Koshi Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'tarun-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/tarun-river-rafting-s.jpg' %}" alt="tarun-river-rafting" />
                                                    
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Tarun River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'marsyangdi-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/marsyangdi-river-s.jpg' %}" alt="marsyangdi-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Marsyangdi River Rafting gives you the ultimate experience of river rafting. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Marsyangdi River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'bheri-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/bheri-river-rafting-s.jpg' %}" alt="bheri-river-rafting" />
                                                    
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Bheri River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'tamur-river-rafting'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/tamur-river-rafting-s.jpg' %}" alt="tamur-river-rafting" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Tamur River is the sixth largest river in Nepal. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Tamur River Rafting
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
    							
    						</div>
    						<!-- End Post -->
						
    						
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->

{%endblock%}
            