{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Ruru (Riddi)</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/ruru-riddi-l.jpg' %}" alt="Ruru TIrtha" />
                                    </div>
    								
                                    <p>
                                        Ruru Tirtha is located in between Palpa and Gulmi district of western region of Nepal. This is the holiest place of Hindu related to Hindu’s holy book purana. Ruru Tirtha is also called Riddi Hrishikesha Tirtha. According to purana, a famous legendary woman devotee named Ruru who was in a deep penance in devotion of god and god was so happy to see Ruru in such devotion that he stood outside her hermitage. She requested god to sit inside and god converted himself into one big stone, called Hrishikesha sheela.  The first day of Nepali month Mangh in every year (15th January) Hindu pilgrims come here to take sacred bath in the Kaligandaki River and worship at the temple. This Riddi Hrishikesha Thirta is added in UNESO world Heritage Tentative list.
                                    </p>

                                    <p>
                              
                                    </p>
    								 

                                      <p>
                              
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}