{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Shivapuri Hiking - 1 Day</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <ul class="clearlist content-slider">
                                            <li>
                                                <img src="images/portfolio/full-project-1.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-2.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-3.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
    								
                                    <h3>Fact of the Trip:</h3><p><b>Departure : </b>Daily<br /><b>Duration:&nbsp; </b>5 to 6Hours (1 Day)<br /><b>Starts At: </b>Thamel or Your Hotel<br />

                                    <b>Ends At:&nbsp; </b>Thamel or Your Hotel<br /><b>Starting Time:</b> 09:00 AM<br /><b>Ending Time:</b> 03:00 PM (Approx)<br /> <b>Places to See:</b> Phulbari Gate, Nagi Gompa, Shivapuri Nagarjun National Park<br /><b>Transportation:</b> Car/Jeep</p>

                                    <hr>
                                    <p>
                                        Day hike to <b>Shivapuri Nagarjun National Park</b> starts by  gathering team members at Thamel around 6:30 am. The team will have their breakfast there only then depart in the private jeep arranged by <strong>Ecological
                                        Treks</strong> with the hiking guides for phulbari gate. It is 15-20 minutes drive from Kathmandu
                                        to phulbari gate. The guides will give some information for hiking to <i>Jamacho</i>. Then
                                        hiking starts from phulbari gate  to Shivapuri Najarjun National Park. 
                                    </p>
                                    <p>
                                        <strong>Hiking&nbsp;</strong> to<b> Shivapuri Nagarjun National Park</b>(Jamacho Gumba) from phulbari gate is approximate 3
                                        hours walking distance.This is the ninth national park in Nepal and was upgraded as <i>Shivapuri Nagarjun National Park</i> in 2002 with the aim to protect Valley’s water supply. This is the only national park which is the nearest from capital city of Nepal with the total area of 159 square km (61&nbsp;sq&nbsp;mi) in the districts of Kathmandu, Nuwakot and Sindhupalchowk. It is located in the country's mid-hills on the northern fringe of the 
                                        Kathmandu Valley. It lies in Shivapuri Peak of 2,732 m (8,963ft) 
                                        altitude. 
                                    </p>
                                    <p>
                                     During this hiking one can view 129 species of mushrooms, 318 species of birds and 2,122 flora species, which includes 449 vascular and 16 endemic plants as well as numerous rare orchids and monkeys . The various species of bird includes Spiny Babbler, which is found only in Nepal. Shivapuri Nagarjun National Park is a popular destination for bird watching tour  from Kathmandu. Several trekking and mountain-bike routes criss-cross the park, including the challenging Scar Rd cycle path. 
                                     </p>
                                     <p>
                                     <b>Hiking to Shivapuri</b> is  a pleasant walk of 3 hours or so, climbing and contouring eastward through the forest . This is a serious hike that one shouldn’t do alone. One should take a map, plenty of water and preferably a guide. There is only one way back to the starting point(i.e phulbari gate) which is the same that of going up.One can get to phulbari gate within 1.5 hours from Jamacho Gumba. 
                                     </p>
                                     <div class="section3">
                                     <h3>Hiking Tour Itinerary</h3><p><strong>Morning : </strong>Prepare for hiking and drive to Phulbari Gate, hiking starting point</p><p><strong>Day:</strong> Hike to Jamacho Gumba for 3 hours
                                     </p>
                                     <p>
                                        <strong>Evening:</strong> Walk down upto Phulbari gate for 1.5 hours and Drive Back to Kathmandu
                                    </p>
                                    </div>
                                    <hr>

                                    <div >
                                        <h3>Cost Includes:</h3>
                                        <ul>
                                            <li>- Transportation to hiking starting place</li>
                                            <li>- A tour guide</li>
                                            <li>- Entrance fees( Rs.250 for foreigners and Rs.10 for Nepali)</li>
                                        </ul>
                                    </div>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
