{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Sightseeing Tour in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                   <!--  <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <ul class="clearlist content-slider">
                                            <li>
                                                <img src="images/portfolio/full-project-1.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-2.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-3.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>      -->      
                                    
    							</div>
                                <!-- End Text -->

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'pokhara-valley-sightseeing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/pokhara-valley-sightseeing-s.jpg' %}" alt="pokhara-valley-sightseeing" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        There are many places around Pokhara valley famous for sightseeing tour.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Pokhara Valley Sightseeing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'patan-durbar-square'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/patan-durbar-square-s.jpg' %}" alt="patan-durbar-square" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Patan city is located in Lalitpur district 7km southeast of kathmandu city. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Patan Durbar Square
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'pokhara-city-sightseeing'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/pokhara-city-sightseeing-s.jpg' %}" alt="pokhara-city-sightseeing" />
                                                    
                                                    <div class="team-item-detail bold-weight">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                        Pokhara City is the third largest city of Nepal with the beautiful landscape surrounded by mountains and lakes.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                   Pokhara City Sightseeing
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
{%endblock%}    