{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Singuchuli Peak Climbing</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/singuchuli-peak-climbing-large.jpg' %}" alt="Singuchuli Peak Climbing" />
                                    </div>

                                    <p>
                                        <i>Singuchuli</i> also known as fluted peak is another beautiful
                                        peak located in Annapurna region. During your journey you will feel that you
                                        are in nature paradise because Annapurna region is considered world best place
                                        in terms of Natural beauty. SinguChuli is considered one of the difficult peaks
                                        for climbing in comparison to other peaks of Nepal. It is above 600m peak with
                                        heavy ice fall so it demands good physical fitness along with good snowy peaks
                                        climbing experience. There are more routes to climb Singuchuli but the
                                        usual climbing route is the northeast face between the glacier and the flank of
                                        the mountain to reach the plateau below the northeast face. In order to triumph
                                        singuchuli summit our journey starts with 6/7 hours bus drive from Kathmandu to
                                        Pokhara. From Phedi we will reach to Singuchuli base camp after completing
                                        natural adventurous journey of many beautiful places such as Tolka, Jhinu,
                                        Dovan, Machhapuchhre base camp and Annapurna base camp. From <b>Singuchuli Base Camp</b> we will finally reach to its summit. Singuchuli summit offer great view of
                                        mountains such as Annapurna, Machhapuchhre, Dhaulagiri, Nilgiri, Tharpuchuli,
                                        Himchuli etc. after rewarding this beautiful mountain trip return through
                                        Chomrong, Ghorepani Hill route. And these places are famous for Gurung culture
                                        and romantic scenery so <b>SinguChuli journey</b> is unique combination of beautiful
                                        natural and important culture things. <i>Ecological trek</i> has been designed
                                        Singuchuli peak expedition itineraries by our Himalaya trekking expert. We
                                        tried our best to include adventurous trail and interesting activity in our
                                        itineraries. If our itineraries do not suit for you then we are ready to make
                                        itineraries long or short in accordance to your desire and holiday time
                                    </p>


                                    <hr>

                                    <p><b>Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Meeting upon arrival at Kathmandu International Airport, transfer to hotel.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Departure for Pokhara, overnight at hotel.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> Trek to Tolka, overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Trek to Jhinu, overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td> Trek to Dovan, overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Junbesi to Nuntala (2440m), 5/6 hours of walk.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td>Trek to Annapurna base camp, overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td>TharpuChuli base camp, overnight at tented camp.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> SinguChuli base camp, overnight at tented camp.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td> High camp SinguChuli, overnight at tented camp.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td> Summit SinguChuli and back to base camp, overnight at tented camp.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td>Trek to Deurali, overnight at guesthouse. </td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td> Trek to Chhomrong, overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td> Trek to Tadapani, overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 15: </th>
                                            <td> Trek to Ghorepani (Poonhill), overnight at guesthouse.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 16: </th>
                                            <td> Trek to Hile, overnight at guesthouse. </td>
                                        </tr>
                                        <tr>
                                            <th> Day 17: </th>
                                            <td>Trek to Nayapul and drive back to Pokhara, overnight at hotel.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 18: </th>
                                            <td>Drive back to Kathmandu, overnight at hotel.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 19: </th>
                                            <td>Rest at Kathmandu, overnight at hotel.</td>
                                        </tr>
                                        <tr>
                                            <th>Day 20: </th>
                                            <td>Transfer to airport, departure on your own destination.</td>
                                        </tr>
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}

            
           