{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Sunkoshi River Rafting</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/sunkoshi-river-rafting-large.jpg' %}" alt="Sunkoshi River Rafting" />
                                    </div>

    								<p><b>Sunkoshi River Rafting</b> is the longest River rafting
                                    offered in the Nepal which is about 270km.from Dolalghat to Chatara. Many people
                                    consider Sunkoshi River rafting to be one of the world’s 10 classic River
                                    journey. You can begin a River trip and end the trip looking down the hot and
                                    dusty plain area of the north India, just nine or 10 days later.</p><p>

                                    In <b>Sunkoshi River Rafting</b>, the rafters can take the
                                    pleasure of two kinds of water journey: high water and low water, and two class
                                    of international grading: 5 grade -5 grades. From the season of September to
                                    December, rafters can take the experience of 5 grade rafting. Similarly, from
                                    the season of January to May, rafters can take the pleasure of -5 grade
                                    rafting. But, from the season of June to August because of monsoon with heavy
                                    rain, water in Sunkoshi is very high as a consequence, Sunkoshi is not runable.</p><p>

                                    The Sunkoshi start off in a relaxed manner with
                                    class 2 and small class 3 rapids during the first couple of days. And on the
                                    third day, the rapids become more powerful and frequent, with high water
                                    trippers finding themselves astonished at just how big a wave in a River can
                                    get. While the lower section of large volume River are usually become flat, the
                                    Sunkoshi reserves some of its biggest and best rapids for the last days which
                                    ultimately helps to&nbsp; keep the rafters
                                    pleasure even at the time of last moment.</p><p>

                                    The <b>Sunkoshi River Rafting</b> is the combination of
                                    white water, scenery, villages and truly quiet and an introspective evenings.
                                    Mingle of these things, easy approach from Kathmandu valley, experience of high
                                    and low water, rafting in two different grade makes Sunkoshi River Rafting most
                                    desirable to anyone. That's why it has become one of the <b>World’s 10 Classic
                                    River Journey</b>.</p>
                                    <hr>

                                    <h3>Itinerary</h3>
                                    <table class="routine">
                                        <tr  class="first-row">
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu and transfer to Hotel</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 02: </th>
                                            <td> Sightseeing of Kathmandu valley</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 03: </th>
                                            <td>Drive from Kathmandu to Dolalghat, 3hrs and short rafting camp to TarangGaun</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 04: </th>
                                            <td>Rafting from Tarang Gaun to Dumja Village, 4hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 05: </th>
                                            <td>Rafting from Dumja Village to Khurkot Gaun, 6hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 06: </th>
                                            <td>Rafting from Khurkot Village to Likhu Khola, 5hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 07: </th>
                                            <td> Rafting from Likhu Khola to Harkapur Village, 6hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 08: </th>
                                            <td>Rafting from Harkapur Village to Rai Ghat, 6hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 09: </th>
                                            <td>Rafting from Rai Ghat to Bander Ghat, 6hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 10: </th>
                                            <td>Rafting from Bander Ghat to Bonjur Ghat, 6hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 11: </th>
                                            <td>Rafting from Bonjur Ghat to Barahachhetra, 6hrs </td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 12: </th>
                                            <td>Rafting from Barahachhetra to Chatara (put out point), 2hrs</td>
                                        </tr>
                                        <tr class="first-row">
                                            <th> Day 13: </th>
                                            <td>Drive to Kathmandu or drive to Biratnagar to take flight back to Kathmandu</td>
                                        </tr>
                                        
                                    </table>
                                    <hr>
    							</div>
                                <!-- End Text -->

                   
                        <!-- end of row -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}           
            