{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">sworgadawari</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/sworgadwari-l.jpg' %}" alt="Sworgadawari Temple" />
                                    </div>
    								
                                    <p>
                                        Sworgadawari Temple is located in the Puthyan district, far-western region of Nepal. This temple is considered another holiest temple of Hindus. This temple is associated with traditional story of Sworgadawari Guru Mahajan. According to this story Guru Maharaj spent long time here by herding and milking thousands of cows. Some devotees, one day followed him to see where he took these thousands of cows. But they did not discover. When one day Guru died at the same moment his favourite cow also died. There is also the additional story of cows emptying their milk by themselves every day at the same time, at the same place where Guru died. In this same place temple of Sworgadawari  is built. This place also associated with Hindu Legend that king of Heaven Indra had performed a yagyan in satya Yuga at this place. Fire is burn continue in this place to give continuity to that Yagyan.


                                    </p>

                                    <p>
                              
                                    </p>
    								 

                                      <p>
                              
                                    </p>   
  
    							</div>

                                


    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}