{% extends 'main_base.html' %}
{% load static %}
{% block content %}          
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Tamur River Rafting</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/tamur-river-rafting-large.jpg' %}" alt="Tamur River Rafting" />
                                    </div>


                                    <p>
                                        <strong>Tamur River</strong>
                                        is the sixth largest river in Nepal. <strong>Tamur River Rafting</strong> is one of the
                                        complete adventure trips in Nepal including the remote part of eastern Nepal
                                        with beautiful views of some biggest mountains in the world.&nbsp; Tamur River
                                        Rafting actually starts with trekking with start point&nbsp; as Basntapur and
                                        ending point as Dovan.
                                    </p>

                                    <hr>

                                    <p><b>Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrival in Kathmandu Airport and transfer to Hotels </td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td> Sightseeing in Kathmandu Valley</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td> 10 hrs dive or flight to Biratnagar and short drive to Basantapur</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td>Preparation for trekking</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td>Trek from Basntapur to Budhabare, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Trek from Budhabare to Guphapokhari, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Trek from Guphapokhari to Gorja, 5hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td>Trek from Gorja to Dovan (put in point), 3hrs</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> Rafting from Dovan to Besni Tar</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td> Rafting from Besni Tar to Phulbari</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td>Rafting from Phulbari to Esuwa Khola</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td>Rafting from Esuwa Khola to Nayapul</td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td> Rafting from Nayapul to Simal Chaur</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td> Rafting from Simal Chaur to Tribeni Ghat</td>
                                        </tr>
                                        <tr>
                                            <th> Day 15: </th>
                                            <td> Rating from Tribeni Ghat to Chatara, packing and drive or flight from Biratnagar to Kathmandu</td>
                                        </tr>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->

            
{%endblock%}