{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Thorong Peak Climbing</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <img src="{% static 'images/thorung-peak-climbing-large.jpg' %}" alt="Thorong Peak Climbing" />
                                    </div>


                                    <p>
                                        <i>Thorong Peak</i> is located in the Annapurna mountain
                                        region. <b>Thorong Peak Expedition</b> is very romantic and adventurous because
                                        Annapurna region is considered world’s best trekking destination due to its
                                        natural beauty. Warm welcome of smiling snowy peaks, beautiful landscape of
                                        hidden valley, falls, rivers and heart taking and eye pleasing picture of Pine, juniper, birch and rhododendron forest &nbsp;make
                                        you feel in nature oasis.<i> Throng peak</i> is 6144m high so you need to have some
                                        experience of peak climbing and good physical condition. Those who want to go
                                        high mountain expedition for them <b>Thorung Peak Climbing</b> expedition will be good
                                        experience. Our journey towards throng Summit starts with 6/7 hrs bus drive
                                        from Kathmandu to Bhulbhule. From Bhulbhule we will reach to throng peak base
                                        camp after completing romantic and adventurous walking of beautiful places such
                                        as Syange, Tal, Bagarchhap, Chame, Pisang, Manang, Ledar. Finally we will reach
                                        to Thorung summit from its base camp. Thorung summit offers very romantic
                                        picture of Annapurna mountain range, Machhapuchhre Mountain, Dhaulagiri
                                        Mountain, Nilgiri Mountain and beautiful landscape of Annapurna area. After rewarding
                                        beautiful glimpse of snowy peaks we will return via Muktinath and Jomsom.
                                        Throng peak expedition start from lush landscape and ends in the barren land of
                                        Kaligandaki valley on the way trip crosses many beautiful villages and places
                                        so this journey mark an unforgettable experience in your life. <b>Thorung Peak Expedition</b> and Annapurna region trekking can be combined. <i>Ecological
                                        trek</i> has been designed Thorung peak expedition itineraries by our Himalaya
                                        trekking expert. We tried our best to include adventurous trail and interesting
                                        activity in our itineraries. If our itineraries do not suit for you then we are
                                        ready to make itineraries long or short in accordance to your desire and
                                        holiday time.&nbsp; 
                                    </p>

                                    <hr>

                                    <p><b>  Day to Day Itinerary</b></p>

                                    <table class="routine">
                                        <tr>
                                            <th> Day 01: </th>
                                            <td> Arrive in Kathmandu and transfer to hotel.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 02: </th>
                                            <td>Free day for permits and trek preparation.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 03: </th>
                                            <td>Drive from Kathmandu 1300m to Bhulbhule840m 6/7 hours by tourist bus.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 04: </th>
                                            <td> Trek from Bhulbhule to Syange1100m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 05: </th>
                                            <td>Trek from Syange to Tal 1700m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 06: </th>
                                            <td> Trek from Tal to Bagarchhap2160m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 07: </th>
                                            <td> Trek from Bagarchhap to Chame2670m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 08: </th>
                                            <td> Trek from Chame to Pisang3200m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 09: </th>
                                            <td> Trek from Pisang to Manang 3540m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 10: </th>
                                            <td> Manang excursion day.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 11: </th>
                                            <td> Trek from Manang to Ledar4200m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 12: </th>
                                            <td>Trek from Ledar to Thorung High Camp 4925m 5/6 hours walk. Overnight at Tea house Lodge. </td>
                                        </tr>

                                        <tr>
                                            <th> Day 13: </th>
                                            <td> Trek from Thorung High Camp to Thorung peak Base Camp 5400m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 14: </th>
                                            <td> Thorung peak Base Camp to summit of Thorung peak 6100m and trek down to Muktinath3760m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 15: </th>
                                            <td> Trek from Muktinath to Jomsom 2700m.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 16: </th>
                                            <td> Flight from Jomsom to Pokhara, 25 minutes and transfer to Resort near Fewa Lake. Bed and breakfast included. In day time short visit of Pokhara.</td>
                                        </tr>
                                        <tr>
                                            <th> Day 17: </th>
                                            <td>Drive from Pokhara to Kathmandu by tourist bus and stay overnight in hotel.</td>
                                        </tr>
                                        
                                    </table>

                                    <hr>






                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
