{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Tibet Mountain Expedition</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <ul class="clearlist content-slider">
                                            <li>
                                                <img src="images/portfolio/full-project-1.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-2.jpg" alt="" />
                                            </li>
                                            <li>
                                                <img src="images/portfolio/full-project-3.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
    								

                                    <p>
                                        Tibet is located between the ancient civilizations of China, Nepal and India. It is separated from the ancient civilization of China by the wide-ranging Mountains to the Tibetan Plateau and from Nepal and India by the soaring Himalayas of Nepal and India. Tibet has got the two nicknames: the roof of the world and the land of snows. As its name suggest Tibet is the best land for expedition and trekking. There are several Mountains and peaks for adventurous and romantic expedition and trekking in Tibet. Beside expedition and trekking, Tibet is also famous for its Mongolian culture and heritages.




                                    </p>

                                    <p>
                                        World’s highest human settlements can be found in the Tibetan landscape who settle around the high snowy areas with their own distinctive culture and festivals. For expedition there are several white capped peaks which are more than 6000m high. The most popular for expedition are Everest (8848m.), Cho Oyo (8201m.), Shishapangma (8035m.), Lakhapa RI and Gurlamandata. Ecological trek offer several Mountain expedition package in Tibet such as Mount Everest north side through Lhasa, Cho Oyo expedition from Lhasa, Everest expedition up to north col, Shishapangma expedition through Lhasa, Changtse expedition, Kula Kangri expedition, Meluntse expedition, NojinKangsang expedition, GurlaMandata expedition and NyanchanThangla.


                                    </p>

                                    <p>
                                        We will make all kinds of arrangements for expedition of these mountains including taking permission from china mountaineering association, Porters, excellent guide and customs clearance facilities. Ecological trek tried to include all the popular and adventurous mountains and peaks in Tibet Expedition Package. Its been a long time more than a decade we have been conducting expedition in Tibet so, we have very good experience in this field. We give very excellent service to our all clients. If you are interested to go expedition in other peaks which are not included in our Tibet expedition package we will also provide expedition service in these peaks as per your request.
                                    </p>
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
{%endblock%}
