{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Types of Trekking</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/trekking-types-large.jpg' %}" alt="Trekking Types" />
                                    </div>

                                    <p>
                                        Trekking is the long difficult journey especially made on foot. Nowadays trekking has become very popular and authentic source to have the knowledge of culture and tradition of different region and people. Trekking liberate the people from their daily hassle and tussle with aesthetic pleasure of nature and culture. Trekkers come to Nepal to see the mountains and walk in the hilly regions untouched by the modern developments. In Nepal there are two different ways of trekking: Tea House Trekking and Camp Trekking.
                                    </p>

                                    <p><b>Tea House Trekking</b></p>

                                    <p>
                                        Tea House Trekking is the most common and comfortable style of trekking with the tea house (Lodges) in between the route. This type of trekking can be accomplished with minimal preparation depending on lodges. In this type of trekking accommodation is found along the entire trail for rest at night without camping. Some of the Famous Tea House Trekking Areas in Nepal are Everest or Khumbu Region, Langtang region and Annapurna Region and Manaslu Trekking, Upper Mustang Trekking. It is quite popular trek in Nepal. Tea House  Trekking is independent trekking and does not need special permit except the entry fees in different specific areas like national park, caves etc.
                                    </p>

                                    <p><b>Camping Trekking</b></p>

                                    <p>
                                       Camping Trekking is an organized and classic style of trekking with the support of renowned guides, well trained cooks, porters and Sherpas to set up the tent. In camping trekking all the necessary materials and equipments are carried by the porters while trekking. Camping Trek is managed almost in all parts of Nepal. Camping Trek takes trekkers away from the common and worn-out trekking trails and offers the remoteness and wilderness experience of nature and culture untouched by the modern civilizations. In Camping Treks you have accommodation in the tent with food prepared by your team cook. Some of the popular Camping Treks in Nepal are Kanchenjunga Trekking, Makalu Base Camp Trekking, and Upper Dolpo Trekking etc which also needs the special permit.


                                    </p>

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}

            
            
            
            