{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Trekking Grade</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/trekking-grade-large.jpg' %}" alt="Trekking Grade" />
                                    </div>

                                    <p>
                                        As there are many Trekking Trails in Nepal, they are divided into four different grades taking into consideration the things like total duration, altitude of the trail, difficulty of the route, temperature and climate. Before you depart for trekking in Nepal, you should know about the trekking destination and its difficulties.

                                    </p>

                                    <p><b>Easy Grade Trekking</b></p>
                                    <p>Easy Trekking is the trekking to the altitude below 3500m with maximum 4-5 hours walking in a day. Easy Trek does not require previous trekking experience and you can accomplish the trip with general physical fitness. Easy Trek is suitable for first time trekkers, old people and those who have limited time. Some of the easy trek in Nepal are Chisapani Trek, Shivapuri-Chisapani-Nagarkot Trek, Nagarjun Hill Trek, Phulchoki Trek, Champadevi Trek etc.

                                    </p>
                                    <p><b>Moderate Grade Trekking</b></p>
                                    <p>Moderate Trekking which is also called Low Altitude Trek is quite longer and difficult than the easy trek with walking 5-6 hours in a day. Moderate type of trekking is walking below 4500m height and involves the walk up and down the hill with the close up view of snow capped mountain. Any reasonably fit person without the previous experience can manage this type of trek. Annapurna Base Camp Trek, Everest View Trek, The Royal Trek, Gosainkunda Trek are examples of moderate type of trek in Nepal.</p>
                                    <p><b>Strenuous Grade Trekking</b></p>
                                    <p>Strenuous Trekking are difficult trekking routes involving steep climbing using ropes which require the prior trekking experience and strong physical fitness. It is the trekking above 5000m and for the period of 15-25 days with 7-8 hours walk per day. Trekking of strenuous level takes into the remote and unexplored areas of the uninhabited regions. This type of trekking offers the spectacular view of the mountains to the trekkers. Everest Base Camp Trek, Upper Mustang Tea HouseTrek, Gokyo Valley Trek, Manaslu Trek etc are strenuous type of trek in Nepal.</p>
                                    <p><b>Challenging Trekking Grade</b></p>
                                    <p>This type of trekking is really very difficult and adventurous type of trekking that provides the real adventurous experience of mountaineering to the trekkers and climbers. Challenging treks requires the previous experience of mountain walking, high level of physical fitness and determination as it takes around one month to accomplish the trekking. You have to walk 8-9 hours daily. Challenging Treks are alpine walking over the snow and ice in the high passes and mountains conquering elevation up to 6500m. This trekking is camping trekking staying at the altitude above 4000m. All the mountain expedition, Upper Dolpo Trek are challenging trek in Nepal.</p>
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
            
            
       