{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Trekking Season</h1>

                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/trekking-season-large.jpg' %}" alt="Trekking Season" />
                                    </div>

                                    <p>
                                        Trekking can be accomplished throughout the year in Nepal. However the dry season from September to May is good for trekking in Nepal rather than monsoon season from June to August. InNepal season is divided in to four: Autumn, winter, spring and summer. The best season for trekking is autumn, i.e. in the month of September, October and November. During this season the temperature is moderate and the weather is also favorable. As the weather and the temperature are moderate throughout the year, other season are also good for Trekking in Nepal.


                                    </p>

                                    

                                              
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
						
    						
    						
    	
                            
                        </div>

                        <!-- End Content -->
                        
                    </div>

                    
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}

            
            
            
          