{% extends 'main_base.html' %}
{% load static %}
{% block content %}

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Trekking in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                                <img src="{% static 'images/trek-in-nepal.jpg' %}" alt="trek in nepal" />
                                    </div>
    								
                                    <p>
                                        Trekking in Nepal takes you very close to the natural landscape and gives the chance to explore the culture and the people of mountain range in Nepal. Himalayas are taken as the best trekking destination in all over the world. As Nepal is a dwelling of eight of the world’s highest mountain including the world’s highest Mount Everest, one can experience the Shangri-La in Nepal. The mountain ranges and the hilly topography of Nepal offer breathtaking, enthralling trekking routes. Some of the popular trekking trails in Nepal are Annapurna Trekking Trails, Everest Trekking Trails, Langtang Trekking Trails, Kanchenjunga base camp trek, Makalu base camp trek, Manaslu trek, and Upper Dolpo trek.
                                    </p>

                                    <p>
                                        Trekking in Nepal is an unforgettable experience as it not only let you to experience the unexplored trails made by nature, but also bring the visitor directly in touch with the country and its people. It also helps the visitors to experience and appreciate the unique culture of Nepal like in Annapurna base camp trekking you can know the unique culture of Gurung community in Ghandruk. While walking on the foothill trails of the mountain, you can encounter the natural beauty and thinks that it is the real heaven.
                                    </p>
    								    

    								<p>
                                        Though Nepal is very small in size, it is vast in natural, religious, geographical and cultural diversity which fascinates the trekkers. Trekking in Nepal is one of the famous adventure sports awaiting the trekking enthusiast in Nepal. In Nepal trekking enthusiast can also explore the rugged beauty of the lofty mountains romancing the shimmering waterfalls cascading down in glee like in Kanchenjunga base camp trekking, Annapurna base camp trekking, Langtang Gosainkunda trekking etc.
                                    </p>

                                    <p>
                                        In Nepal, trekking can be combined with various other adventure options and activities such as sightseeing, mountain biking, rock climbing, bungee-jumping, paragliding etc. for example one can enjoy bungee-jumping,Rolwaling trek, paragliding in Annapurna region, trekking in Pokhara etc.
                                    </p>   
    							</div>

                                <div class="row">
                        
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'trekking-info'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/trekking-info-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                            Trekking is the long difficult journey, especially made on foot.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Trekking Info
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="team-item">

                                            <a href="{% url 'everest-region'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/everest-region-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Everest Region</h4> -->
                                                        
                                                        <p>
                                                            Everest Region Trekking is very popular trekking destination of Nepal.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Everest Region
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="team-item">

                                            <a href="{% url 'annapurna-region'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/Annapurna-Region-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Annapurna Region</h4> -->
                                                        
                                                        <p>
                                                            Annapurna Region is artistically decorated with natural beauty and considered nature oasis.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Annapurna Region
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                        
                                </div>

                                <div class="row">
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                                        <div class="team-item">

                                            <a href="{% url 'langtang-region'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/langtang-region-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Trekking Info</h4> -->
                                                        
                                                        <p>
                                                            Langtang Region is third largest and popular trekking region of Nepal. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Langtang Region
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="team-item">

                                            <a href="{% url 'restricted-area-trek'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/restricted-area-trek-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Everest Region</h4> -->
                                                        
                                                        <p>
                                                            Nepal is rich in cultural, geographical, and natural diversity. 
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Restricted Area Trek
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="team-item">

                                            <a href="{% url 'dolpo-region'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/dolpo-region-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Annapurna Region</h4> -->
                                                        
                                                        <p>
                                                            Dolpo Region is distant region of Nepal and the central point of this area is Shey-Phoksundo National Park.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Dolpo Region
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                </div>

                                <div class="row">
                                    
                                    <!-- Team item -->
                                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="team-item">

                                            <a href="{% url 'ganesh-himal'%}">
                                                <div class="team-item-image">
                                                    
                                                    <img src="{% static 'images/ganesh-himal-s.jpg' %}" alt="" />
                                                    
                                                    <div class="team-item-detail">
                                                        
                                                        <!-- <h4 class="font-alt normal">Annapurna Region</h4> -->
                                                        
                                                        <p>
                                                           The Ganesh Himal region lies in the districts of Gorkha, Nuwakot, Rasuwa and Dhading which carry historical importance within them.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <div class="team-item-descr font-alt">
                                                
                                                <div class="team-item-name">
                                                    Ganesh Himal(Ruby Valley) Kalo- Seto Kunda Camping Trek
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Team item -->
                                    
                                </div>
    							
    						</div>
    						
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            
{%endblock%}