{% extends 'main_base.html' %}
{% load static %}
{% block content %}
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-10 col-sm-offset-1">
                            
                            <!-- Post -->
                            <div class="blog-item mb-80 mb-xs-40">
                                
                                <!-- Text -->
    							<div class="blog-item-body">
    							    
                                    <h1 class="mt-0 font-alt">Volunteering Tour in Nepal</h1>
                                
                                    <!-- Media Gallery -->
                                    <div class="blog-media mt-40 mb-40 mb-xs-30">
                                        <ul class="clearlist content-slider">
                                            <li>
                                               <img src="{% static 'images/volunteering-tour1-large.jpg' %}" alt="Volunteering Tour" />
                                            </li>
                                            <li>
                                               <img src="{% static 'images/volunteering-tour2-large.jpg' %}" alt="Volunteering Tour" />
                                            </li>
                                            <li>
                                               <img src="{% static 'images/volunteering-tour3-large.jpg' %}" alt="Volunteering Tour" />
                                            </li>
                                            <li>
                                               <img src="{% static 'images/volunteering-tour4-large.jpg' %}" alt="Volunteering Tour" />
                                            </li>
                                            <li>
                                               <img src="{% static 'images/volunteering-tour5-large.jpg' %}" alt="Volunteering Tour" />
                                            </li>
                                        </ul>
                                    </div>
    								

                                    <p>
                                       <b>(Kathmandu – Dhading – Teach School Children – Ganesh Himal Sanitation Program)</b>

                                    </p>

                                    <p>
                                       Those who want to tour in Nepal with volunteering; Volunteering Tour in Nepal is suitable for them. In Nepal most of the school children are deprived from the quality education. Due to lack of teaching training, Nepalese teacher use traditional teaching methods to teach students which seem very ineffective. In this context Ecological Trek aims to improve teaching and learning system through teaching volunteering tour program. So, the qualified person who is interested to teach in Nepalese school during their Nepal tour can join with us.



                                    </p>
    								    

    								<p>
                                        Ecological Trek make your placement in primary, lower secondary and secondary schools of Kathmandu and Dhading district. Through this program on one hand you can learn typical Nepalese culture, festivals and lifestyle and on other hand through your knowledge you can improve teaching and learning systems which will ultimately help to uplift quality education. Now a days with the growth of trekkers and climbers almost all the mountain regions of Nepal are polluted badly. Plastic bags, bottle and other garbage scattered all over the mountain regions. Due to this rapidly growing garbage on one hand beauty and charm of the mountains is going to decrease day by day and on other hand trekkers and the climbers face great difficulty while walking. In this context Ecological Trek want to save the beauty and charm of the mountains through tour Volunteering Sanitation Program.



                                    </p>

                                    <p>
                                        Ecological Trek aims to conduct this program in all mountain regions of Nepal. But in initial phase we will conduct sanitation volunteering program in Ganesh Himal Region. So, if you are interested in this program then you can join us. Your little effort definitely helps to keep charm and beauty of Ganesh Himal Region. Moreover during this program you will get chance to know and to be familiar with unique Tamang Culture and festivals because in this region there is the major settlement of Tamang ethnic people.


                                    </p>
                                    
                                    
    							</div>
                                <!-- End Text -->
    							
    						</div>
    						<!-- End Post -->
                            
                        </div>
                        <!-- End Content -->
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
{%endblock%}
            
          