{% extends 'main_base.html' %}
{% load static%}
{% block content %}


  <!-- Head Section -->
            
            
            
            <!-- About Section -->
            <section class="page-section" id="about">
                <div class="container relative">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">About Us</h1>
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">
                        
                            <div class="col-md-7 mb-sm-40">
                            
                                <!-- Gallery -->
                                <div class="work-full-media mt-0 white-shadow">
                                    <ul class="clearlist work-full-slider owl-carousel">
                                        <li>
                                            <img src='{% static "images/admin3.jpg" %}' alt="" />
                                        </li>
                                        <li>
                                            <img src='{% static "images/admin2.jpg" %}' alt="" />
                                            <!--<img src='{% static "images/portfolio/full-project-2.jpg" %}'alt="" />-->
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Gallery -->
                            
                            </div>
                            
                            
                            
                            
                        </div>
                    </div>
                    <div>


                        <p><b>Ecological Treks Pvt. Ltd </b>is a Trekking and Tour Operator Agency in Nepal which has been run by pioneers of tourism sectors of the country. Our team led by one of the most active tourism and social pioneer in Nepal, <b>Mr. Ramesh Dhamala</b> who founded the company under the philosophy of <b><em>People First and Customer Oriented.</em></b></p>

                        <p>As a chairman of the company, he has been dedicated himself in promoting Eco-tourism and create community awareness, exploring and plan for new trekking route, cooperating with INGOs and schools to conduct voluntary service in the field of education, medical care and cultural exchange in the remote areas. He has been actively involved in Trekking Agencies' Association of Nepal (TAAN). He has been working as President since September 2013. <b>TAAN </b>has been performing extremely well under his leadership.</p>
                            
                            
                        <p>As a chairman of the company, he has been dedicated 
                        himself in promoting Eco-tourism and create community awareness, 
                        exploring and plan for new trekking route, cooperating with INGOs and 
                        schools to conduct voluntary service in the field of education, medical 
                        care and cultural exchange in the remote areas. He is not only leading the company but he has been actively involved in 
                        Trekking Agencies' Association of Nepal (TAAN). He has been working as <a href="http://www.taan.org.np/president-message">President </a>since September 2013. <strong>TAAN</strong> has been performing extremely well under his leadership.</p><p><b>Mr. Rakesh Dhamala</b> serves as the managing Director to be responsible for overall business operation and overseas marketing development. He is well-known in Asia market, such as Korea, Taiwan, HongKong, Singapore and so on by his specialty on various languages and trekking experiences. Under his strong leadership and high demand service quality, the team of <b>Ecological Treks</b> is all professional and encouraged to bring unique experience to each customer.</p><p>We organize a wide range of tailor made Nepal
                        Trekking, Nepal tour, Nepal
                        Expedition, peak climbing, rafting, Jungle safari, Honeymoon trip, Pilgrimage
                        tour, volunteers program, family trip, Nepal
                        hiking, Paragliding, romantic breaks for individual visitor and sizable
                        group to create the most enjoyable and memorable Himalayan experience.<b> Ecological Treks</b> is specialize in adventurous travel
                        experience in Nepal from expensive to budget class. From providing this kind of
                        adventure, we promote tourism, reserve local cultures and heritage as well as
                        tradition of the local people helping in sustainable development of the
                        country.&nbsp;</p>
                        <b>Ecological Treks</b> is all professional and encouraged to bring unique experience to each customer.</p><p>We organize a wide range of tailor made Nepal
                        Trekking, Nepal tour, Nepal
                        Expedition, peak climbing, rafting, Jungle safari, Honeymoon trip, Pilgrimage
                        tour, volunteers program, family trip, Nepal
                        hiking, Paragliding, romantic breaks for individual visitor and sizable
                        group to create the most enjoyable and memorable Himalayan experience.<b> Ecological Treks</b> is specialize in adventurous travel
                        experience in Nepal from expensive to budget class. From providing this kind of
                        adventure, we promote tourism, reserve local cultures and heritage as well as
                        tradition of the local people helping in sustainable development of the
                        country.&nbsp;</p><p><b>Ecological Treks Pvt. Ltd is dedicated to provide highest
                        quality of services as:</b></p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Formal travel arrangement for groups and
                        individual tourist.</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Professional service: trained guides and Sherpa
                        tram equipment with best facilities.</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Explore diversity of local cultural and natural
                        treasure: we have 13 years of solid experience in Himalayan tourism.</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Safety and Satisfaction: guide customers to an
                        awesome journey and unforgettable holiday with adventurous Himalayan experience.</p><p><b>Ecological and Social Awareness supported by our
                        organization:</b></p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Promote Eco-tourism and Social Service</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Preserve Nature Resources and Local Cultures</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Sponsor on Rural Sanitation and Community
                        Development</p>
                    </div>
               
                </div>

            </section>
            <!-- End About Section -->
            
{%endblock%}