{% extends 'main_base.html' %}
{% load static%}
{% block content %}


            <div class="home-section fullwidth-slider bg-dark" id="home">
                
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background='{%static "images/full-width-images/section-bg-1.JPG" %}'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                
                                
                                <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                    Ecological Trek
                                </h2>
                                
                                
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-50" data-background='{%static "images/full-width-images/section-bg-2.JPG" %}'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                   
                                </h1>
                                
                                <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                   Ecological Trek
                                </h2>
                                
                                
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->

                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background='{%static "images/full-width-images/section-bg-3.JPG" %}'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                    
                                </h2>                       
                                
                                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                    Ecological Trek
                                </h1>
                                
                                
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
            
            </div>


            <section class="page-section" id="about" >
                <div class="container relative">
                    <div >
                        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Eco Friendly Tour and Trekking Agency in Nepal
                    </h2>
                    
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">

                            <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <div class="post-prev-img">
                                                <img src='{% static "images/admin1.jpg" %}' alt="" />
                                            </div>
                                        </blockquote>
                             </div>
                        
                            
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                <b>Ecological Treks Pvt. Ltd</b> is a Trekking and Tour Operator Agency in Nepal which has been run by pioneers of tourism sectors of the country. Our team led by one of the most active tourism and social pioneer in Nepal, Mr. Ramesh Dhamala who founded the company under the philosophy of <b>People First and Customer Oriented</b>.
                            </div>
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                               As a chairman of the <b>Ecological Treks</b>, he has been dedicated himself in promoting Eco-tourism and create community awareness, exploring and plan for new trekking route, cooperating with INGOs and schools to conduct voluntary service in the field of education, medical care and cultural exchange in the remote areas. 
                               <div class="post-prev-more" >
                                                <a href="{% url 'about' %}" class="btn btn-mod btn-gray btn-round" >Read More <i class="fa fa-angle-right"></i></a>
                               </div>
                            
                            </div>
                            
                        </div>
                    </div>


                    </div>
                    

                    
                    

                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Special Packages
                    </h2>
                        <div class="row">
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src='{%static "images/team/team-1.jpg" %}'alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        <p>
                                            The Ganesh Himal region lies in the districts of Gorkha, Nuwakot, Rasuwa and Dhading which carry historical importance within them.. 
                                            <div class="post-prev-more">
                                                <a href="{% url 'ganesh-himal' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Ganesh Himal Trek
                                        
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">

                            <div class="team-item">
                                
                                <div class="team-item-image" style="position: relative;">
                                    
                                    <img src='{%static "images/team/team-2.jpg"  %}' alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        
                                        <p>
                                            Manaslu Tea House Trek is the most adventurous circular trek that surrounds the  eighth highest mountain of the world Mt...

                                            <div class="post-prev-more">
                                                <a href="{% url 'manaslu-tea-house-trek' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Manaslu Circuit Trek
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src='{%static "images/team/team-3.jpg" %}' alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        
                                        <p>
                                            Everest Region, also known as Khumbu Region, is one of the most famous trekking regions all over the world. The ...
                                            <div class="post-prev-more">
                                                <a href="{% url 'everest-view-trek' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Everest View Trek
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                    </div>
                    
                    
                </div>
            </section>
         


 <!--Ojash Code VersionX1 Main Turn of event Start of Homepage-->
            
             <!-- Portfolio Section -->
            <section class="nepal-trekking pb-0" id="portfolio">
                <div class="relative1">

                    <!-- Ojash Version1.1 Start
                    <div >
                        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Eco Friendly Tour and Trekking Agency in Nepal
                    </h2>
                    
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">

                            <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <div class="post-prev-img">
                                                <img src='{% static "images/admin1.jpg" %}' alt="" />
                                            </div>
                                        </blockquote>
                             </div>
                        
                            
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                <b>Ecological Treks Pvt. Ltd</b> is a Trekking and Tour Operator Agency in Nepal which has been run by pioneers of tourism sectors of the country. Our team led by one of the most active tourism and social pioneer in Nepal, Mr. Ramesh Dhamala who founded the company under the philosophy of <b>People First and Customer Oriented</b>.
                            </div>
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                               As a chairman of the <b>Ecological Treks</b>, he has been dedicated himself in promoting Eco-tourism and create community awareness, exploring and plan for new trekking route, cooperating with INGOs and schools to conduct voluntary service in the field of education, medical care and cultural exchange in the remote areas. 
                               <div class="post-prev-more" >
                                                <a href="{% url 'about' %}" class="btn btn-mod btn-gray btn-round" >Read More <i class="fa fa-angle-right"></i></a>
                               </div>
                            
                            </div>
                            
                        </div>
                    </div>


                    </div>
                    

                    -->
                    

                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Special Packages
                    </h2>
                        <div class="row">
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src='{%static "images/team/team-1.jpg" %}'alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        <p>
                                            The Ganesh Himal region lies in the districts of Gorkha, Nuwakot, Rasuwa and Dhading which carry historical importance within them.. 
                                            <div class="post-prev-more">
                                                <a href="{% url 'ganesh-himal' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Ganesh Himal Trek
                                        
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">

                            <div class="team-item">
                                
                                <div class="team-item-image" style="position: relative;">
                                    
                                    <img src='{%static "images/team/team-2.jpg"  %}' alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        
                                        <p>
                                            Manaslu Tea House Trek is the most adventurous circular trek that surrounds the  eighth highest mountain of the world Mt...

                                            <div class="post-prev-more">
                                                <a href="{% url 'manaslu-tea-house-trek' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Manaslu Circuit Trek
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src='{%static "images/team/team-3.jpg" %}' alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        
                                        <p>
                                            Everest Region, also known as Khumbu Region, is one of the most famous trekking regions all over the world. The ...
                                            <div class="post-prev-more">
                                                <a href="{% url 'everest-view-trek' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Everest View Trek
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                    </div>
                    
                    
                </div>
            </section>
            <!-- End Portfolio Section -->
            
            <!--Ojash Part Ends-->
   
   <!--Ojash Code VersionX2 Main Turn of event Start of Homepage-->
            
             <!-- Portfolio Section -->
            <section class="nepal-trekking pb-0" id="portfolio">

                <div class="relative2">
                       <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Want to Travel to Nepal? 
                    </h2>
                        <h4 class="section-title font-alt mb-30 mb-sm-10" > Check out our Packages.  </h4>
                </div>
            </section>
            <!-- End Portfolio Section -->
            
            <!--Ojash Part Ends-->


            <!--Ojash Code VersionX3 Main Turn of event Start of Homepage-->
            
             <!-- Portfolio Section -->
            <section class="nepal-trekking pb-0" id="portfolio">
                <div class="relative4">

                   
                    <div >
                       
                    
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">

                            <div class="col-md-2 mb-md-10 mb-xs-20">
                                        
                             </div>
                        
                            
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        ABC, EBC and KTM
                    </h2>
                               
                              
                        I come because of mountain, I come because of <b>ABC </b>, I will come again because of <b> EBC </b>. Hopefully I will come because of kathmandu. One day when KTM have clean air, water and without noise. Dearest Rakesh, thank you for the wonderful trip.
                            <br>
                                <br>
                                    Feb 07, 2012
                                <br>
                            </div>
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                                          Wonderful experience in Nepal

                                    </h2>      
                              Nepal mountain such beautiful and men so kind and handsome. I cant forget in my life.Thanks RAKESH DHAMALA and all helpers.
                                    <br>
                                    <br>
                                        Tobby
                                        <br>
                                        Feb 07, 2012
                                    </br> <br>
                               <div class="post-prev-more" >
                                                <a href="{% url 'about' %}" class="btn btn-mod btn-gray btn-round" >Read More <i class="fa fa-angle-right"></i></a>
                               </div>
                            
                            </div>
                            
                        </div>
                    </div>


                    </div>
                    

                    
                    

                    
                        
                    </div>
                    
                    
                </div>
            </section>
            <!-- End Portfolio Section -->
            
            <!--Ojash Part Ends-->
            <!--Changed

            <!--Ojash Code Version1 Start of Homepage
            <section class="page-section" id="about" >
                <div class="container relative1">

                    <!-- Ojash Version1.1 Start
                    <div >
                        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Eco Friendly Tour and Trekking Agency in Nepal
                    </h2>
                    
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">

                            <div class="col-md-4 mb-md-40 mb-xs-30">
                                        <blockquote class="mb-0">
                                            <div class="post-prev-img">
                                                <img src='{% static "images/admin1.jpg" %}' alt="" />
                                            </div>
                                        </blockquote>
                             </div>
                        
                            
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                <b>Ecological Treks Pvt. Ltd</b> is a Trekking and Tour Operator Agency in Nepal which has been run by pioneers of tourism sectors of the country. Our team led by one of the most active tourism and social pioneer in Nepal, Mr. Ramesh Dhamala who founded the company under the philosophy of <b>People First and Customer Oriented</b>.
                            </div>
                            
                            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                               As a chairman of the <b>Ecological Treks</b>, he has been dedicated himself in promoting Eco-tourism and create community awareness, exploring and plan for new trekking route, cooperating with INGOs and schools to conduct voluntary service in the field of education, medical care and cultural exchange in the remote areas. 
                               <div class="post-prev-more" >
                                                <a href="{% url 'about' %}" class="btn btn-mod btn-gray btn-round" >Read More <i class="fa fa-angle-right"></i></a>
                               </div>
                            
                            </div>
                            
                        </div>
                    </div>


                    </div>
                    

                
                    

                    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                        Special Packages
                    </h2>
                        <div class="row">
                        <!-- Team item 
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src='{%static "images/team/team-1.jpg" %}'alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        <p>
                                            The Ganesh Himal region lies in the districts of Gorkha, Nuwakot, Rasuwa and Dhading which carry historical importance within them.. 
                                            <div class="post-prev-more">
                                                <a href="{% url 'ganesh-himal' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Ganesh Himal Trek
                                        
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item 
                        
                        <!-- Team item 
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">

                            <div class="team-item">
                                
                                <div class="team-item-image" style="position: relative;">
                                    
                                    <img src='{%static "images/team/team-2.jpg"  %}' alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        
                                        <p>
                                            Manaslu Tea House Trek is the most adventurous circular trek that surrounds the  eighth highest mountain of the world Mt...

                                            <div class="post-prev-more">
                                                <a href="{% url 'manaslu-tea-house-trek' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Manaslu Circuit Trek
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item 
                        
                        <!-- Team item 
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src='{%static "images/team/team-3.jpg" %}' alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        
                                        
                                        <p>
                                            Everest Region, also known as Khumbu Region, is one of the most famous trekking regions all over the world. The ...
                                            <div class="post-prev-more">
                                                <a href="{% url 'everest-view-trek' %}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </p>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                                <div class="team-item-descr font-alt">
                                    
                                    <div class="team-item-name">
                                        Everest View Trek
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item 
                        
                    </div>
                    
                    
                </div>
            </section>
            <!-- End About Section -->

            <!--Ojash Part Ends-->


            
            <!-- Portfolio Section -->
            <section class="nepal-trekking pb-0" id="portfolio">
                <div class="relative"  >
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40 np-trek">
                        Nepal trekking
                    </h2>
                    
                    
                    
                    <!-- Works Filter -->                    
                    <!-- <div class="works-filter font-alt align-center">
                        <a href="#" class="filter active" data-filter="*">All</a>
                        <a href="#branding" class="filter" data-filter=".branding">Everest Region</a>
                        <a href="#design" class="filter" data-filter=".design">Langtang Region</a>
                        <a href="#photography" class="filter" data-filter=".photography">Annapurna Region</a>
                    </div>  -->                   
                    <!-- End Works Filter -->
                    
                    <!-- Works Grid -->
                    <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                        
                        <!-- Work Item (Lightbox) -->
                        <li class="work-item mix photography">
                            <a href='{%url "everest-base-camp-trek" %}'class="work-ext-link">
                                <div style="position: relative;" class="work-img">
                                    <img src='{%static "images/everest-base-camp-trek.jpg" %}' alt="Work" />
                                    <img  style="position: absolute; top: 0; left: 0;" src='{%static "images/white_cut_y.png" %}' alt="Work" />
                                   
                                </div>
                                <p class="work-item-desc">
                                    <b >Everest Base Camp</b><br>
                                    Everest Base Camp Trekking is one of the world famous walking holidays trails situated in Nepal. Nepali name of the world highest peak is Sagarmatha (Mt Everest 8848m) and Tibetan people call Mt. Qumolangma...
                                  </p> 
                            </a>
                        </li>
                        

                        <li class="work-item mix branding ">
                           <p class="work-item-desc">
                             <b>Jiri Everest Base Camp Trek</b><br>
                            Trekking from Jiri, also known as the Switzerland of Nepal,to Everest Base Camp is an astounding and pleasant experience in the earth. Everest Base Camp Trek is one of the most popular trekking trails in the world. <!-- This trail follows the foot step of legendary figure Tenzing Norgey Sherpa and Edmund Hilary who put the first step in the summit of Mt. Everest. --> 
                               
                           </p>
                            <a href='{%url "jiri-everest-base-camp-trek" %}' class="work-ext-link">
                                <div style="position: relative;" class="work-img">
                                    <img src='{%static "images/jiri-everest-base-camp-trek.jpg" %}' alt="Work" />
                                    <img  style="position: absolute; top: 0; left: 0;" src='{%static "images/white_cut_up_y.png" %}' alt="Work" />
                                   
                                </div>
                                
                            </a>
                        </li>
                        
                        <li class="work-item mix photography">
                            <a href='{%url "annapurna-base-camp-trek" %}' class="work-ext-link">
                                <div style="position: relative;" class="work-img">
                                    <img src='{%static "images/annapurna-base-camp-trek.jpg" %}' alt="Work" />
                                    <img  style="position: absolute; top: 0; left: 0;" src='{%static "images/white_cut_y.png" %}' alt="Work" />
                                   
                                </div>
                                <p class="work-item-desc">
                                    <b >Annapurna Base Camp</b><br>
                                    Annapurna Base Camp Trekking is one of the most enthralling trekking routes of Nepal that takes you to the foot of the Mt. Annapurna which is at the altitude of 4210m.<!-- The Annapurna Conservation Area or Annapurna region is one of the most popular and sought trekking destination of Nepal -->. 
                                  </p> 
                            </a>
                        </li>
                        
                        <li class="work-item mix  photography">
                            <a href='{%url "ghorepani-poon-hill-trek" %}' class="work-ext-link">
                                <div style="position: relative;" class="work-img">
                                    <img src='{%static "images/poon-hill.jpg" %}' alt="Work" />
                                    <img  style="position: absolute; top: 0; left: 0;" src='{%static "images/white_cut_y.png" %}' alt="Work" />
                                   
                                </div>
                                <p class="work-item-desc">
                                    <b>Ghorepani Poon Hill Trek</b><br>
                                    Ghorepani Poon Hill Trekking is the shortest and exhilarating trek in the Annapurna Region Trekking. It is the easier trek in the Annapurna Region which can be done within a week. One gets opportunity to view the panorama of the mountains like Annapurna (8091m), Machhapuchchhre(6997m)...<!-- , Dhaulagiri (8167m), Himchuli (6,434), Lamjung Himal (6988m), Tukuche Peak (6920m), Mt. Nilgiri (7040m), Annapurna South (7219m) etc from Poon Hill located at the altitude of 3210m, the most famous mountain view point of Annapurna Region. -->
                                </p>
                            </a>
                        </li>
                        
                        <li class="work-item mix design">
                            <a href='{%url "langtang-gosaikunda-helambu-trek" %}' class="work-ext-link">
                                <p class="work-item-desc">
                                    <b>Langtang Gosainkunda Helambu Trek</b><br>
                                Langtang Gosainkunda Helambu Trek is a circular trek around the Langtang region that combines the Langtang valley, Gosainkunda and Helambu trek. The main attractions of this trek are Langtang valley, Helambu valley and Holy Lakes of Gosainkunda. <!-- flora and fauna of Langtang National Park. Langtang valley is the valley of glacier surrounded by White Mountain and the stunning panorama of the mountain from this valley makes you think that you are in paradise.  -->

                                </p>
                                <div style="position: relative;" class="work-img">
                                    <img src='{%static "images/langtang-helambu.jpg" %}' alt="Work" />
                                    <img  style="position: absolute; top: 0; left: 0;" src='{%static "images/white_cut_up_y.png" %}' alt="Work" />
                                   
                                </div>
                                
                            </a>
                        </li>

                        <li class="work-item mix design">
                            <a href='{%url "langtang-gosaikunda-trek" %}' class="work-ext-link">
                                <div style="position: relative;" class="work-img">
                                    <img src='{%static "images/gosaikunda.jpg" %}' alt="Work" />
                                    <img  style="position: absolute; top: 0; left: 0;" src='{%static "images/white_cut_y.png" %}' alt="Work" />
                                   
                                </div>
                                <p class="work-item-desc">
                                    <b >Langtang Gosainkunda Trek</b><br>
                                    Langtang Gosainkunda Trek is most striking trekking route of Langtang region. Langtang Gosainkunda trekking trail passes through different ethnic village, gorges of BhoteKoshi and LangtangKhola...<!-- , unspoiled forest of rhododendron and oak ascending the peak of Langtang-lirung, edge of high Tibetan plateaus etc. The main attraction of Langtang Gosainkunda trekking include the visit to Langtang valley, holy Lakes of Gosainkunda located at the altitude of around 4300m, walking in the undamaged Langtang National Park where you can spot the  -->
                                </p>
                            </a>
                        </li>
                        
                    </ul>
                    <!-- <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                        
                    </ul> -->


                    <!-- End Works Grid -->
                    
                </div>
            </section> 
            <!-- End Portfolio Section -->
              

         <!-- Call Action Section -->
            <section class="nepal-trekking pb-0" data-background="images/full-width-images/section-bg-2.jpg">
                <div class="relative6">
                    
                    <div class="row align-center">
                        
                        <div class="col-sm-6">
                            
                         

                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">

                                <div class="banner-content">
                                    <h3 class="banner-heading font-alt align-center">Looking for exclusive travel services?</h3>
                                    <div class="banner-decription align-center">
                                        We offer a range of services. Please feel free to connect to our customer care service and get the information.
                                    </div>
                                    <div class="local-scroll align-center">
                                        <a href="pages-contact-1.html" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-sm-6 banner-image wow fadeInUp">
                            <img src="images/promo-1.png" alt="" />
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->
            

         


        <!--Ojash Code Version4 Main Turn of event Start of Homepage-->
            
             <!-- Portfolio Section -->
            <section class="nepal-trekking pb-0" id="portfolio">
                <div class="relative1"  >
                    <div class="local-scroll align-center">
                                        <a href="pages-contact-1.html" class="btn btn-mod btn-w btn-medium btn-round"> <h2> Our Partners </h2></a>
                                    </div>
                    
                    <!--<h2 class="section-title font-alt mb-70 mb-sm-40">
                        Our Partners
                    </h2> 
                      -->
                    
                    <!-- Features Grid -->
                    <div class="row multi-columns-row alt-features-grid">
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">


                            <div class="alt-features-item align-center">
                                <img src='{%static "images/nepal-govt.png" %}' height= "200" width="200"/>
                                <div class="alt-features-icon">
                                   <!--  <span class="icon-flag"></span> -->
                                     <!-- '{%static "images/nepal-govt.png" %}' /> -->
                                </div>
                                <h3 class="alt-features-title font-alt">We’re Creative</h3>
                                <div class="alt-features-descr align-left">
                                    <!-- Lorem ipsum dolor sit amet, c-r adipiscing elit. 
                                    In maximus ligula semper metus pellentesque mattis. 
                                    Maecenas  volutpat, diam enim. -->
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <img src='{%static "images/Nepal-Toursim-Board.jpg" %}' height= "200" width="200"/>
                                <div class="alt-features-icon">
                                    <!-- <span class="icon-clock"></span>-->
                                    <!--<img src='{%static "images/Nepal-Toursim-Board.jpg" %}' height= "200" width="200"/> -->
                                </div>
                                <h3 class="alt-features-title font-alt">We’re Punctual</h3>
                                <div class="alt-features-descr align-left">
                                   <!-- Proin fringilla augue at maximus vestibulum. 
                                    Nam pulvinar vitae neque et porttitor. Praesent sed 
                                    nisi eleifend, lorem fermentum orci sit amet, iaculis libero. -->
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <img src='{%static "images/NMA-Logo.png" %}' height= "200" width="200"/>
                                <div class="alt-features-icon">
                                   <!-- <span class="icon-hotairballoon"></span> -->
                                  <!--  <img src='{%static "images/NMA-Logo.png" %}' width="80"/> -->
                                </div>
                                <h3 class="alt-features-title font-alt">We have magic</h3>
                                <div class="alt-features-descr align-left">
                                    <!-- Curabitur iaculis accumsan augue, nec finibus mauris pretium eu. 
                                    Duis placerat ex gravida nibh tristique porta. Nulla facilisi. 
                                    Suspendisse ultricies eros blandit. -->
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                 <img src='{%static "images/taan.jpg" %}' height= "200" width="200"/>
                                <div class="alt-features-icon">
                                   <!-- <span class="icon-heart"></span>-->
                                    
                                </div>
                                <h3 class="alt-features-title font-alt">We love minimalism</h3>
                                <div class="alt-features-descr align-left">
                                    <!--Cras luctus interdum sodales. Quisque quis odio dui. Sedes sit 
                                    amet neque malesuada, lobortis  commodo magna ntesque pharetra 
                                    metus vivera sagittis. -->
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                 <img src='{%static "images/HRA-New-Logo-200x198.jpg" %}' height= "200" width="200"/>
                                <div class="alt-features-icon">
                                    <!--<span class="icon-linegraph"></span>-->
                                    
                                </div>
                                <h3 class="alt-features-title font-alt">We’re responsible</h3>
                                <div class="alt-features-descr align-left">
                                    <!--Fusce aliquet quam eget neque ultrices elementum. Nulla posuere 
                                    felis id arcu blandit sagittis. Eleifender vestibulum purus, sit 
                                    amet vulputate risus.-->
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <img src='{%static "images/keep.jpg" %}' height= "200" width="200"/>
                                <div class="alt-features-icon">
                                    <!-- <span class="icon-chat"></span>-->
                                     
                                </div>
                                <h3 class="alt-features-title font-alt">We're Friendly</h3>
                                <div class="alt-features-descr align-left">
                                    <!--Pulvinar vitae neque et porttitor. Integer non dapibus diam, ac 
                                    eleifend lectus. Praesent sed nisi eleifend, fermentum orci sit 
                                    amet, iaculis libero interdum.-->
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                    </div>
                    <!-- End Features Grid -->
                </div>
            </section>
            <!-- End Portfolio Section -->
            
            <!--Ojash Part Ends-->




            <!-- Contact Section -->
        <section class="page-section" id="contact">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Contact
                    </h2>
                    
                    <div class="row mb-60 mb-xs-40">
                        
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                
                                <!-- Phone -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Call Us
                                        </div>
                                        <div class="ci-text">
                                            +977-14701674
                                        </div>
                                    </div>
                                </div>
                                <!-- End Phone -->
                                
                                <!-- Address -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Address
                                        </div>
                                        <div class="ci-text">
                                             Paryatan Marg, Thamel

                                                Kathmandu, Nepal
                                        </div>
                                    </div>
                                </div>
                                <!-- End Address -->
                                
                                <!-- Email -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Email
                                        </div>
                                        <div class="ci-text">
                                            <a href="mailto:support@bestlooker.pro">info@ecologicaltrek.com</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Email -->
                                
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    
                </div>
           
            
            <div class="google-map">
                
                <div data-address="Ecological Treks & Tours Pvt Ltd Paryatan Marg, Kathmandu 44600" id="map-canvas">
                </div>
                
                <div class="map-section">
                    
                    <div class="map-toggle">
                        <div class="mt-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="mt-text font-alt">
                            <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                            <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </section>
            <!-- End Google Map -->
{% endblock %}