{%extends 'admin/base_site.html'%}
{%block body%}

<div class="portlet box blue">
    <div class="portlet-title">

        <div class="caption">           <i class="icon-globe"></i><h3>Hotel Reservations</h3>   </div>
    </div>

    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Person Name</th>
                    <th>Hotel Name</th>
                    <th>Email</th>
                    <th>View</th>
                    
                </tr>
            </thead>
                {% for obj in obj_list %}
                <tbody>
                         <tr>
                          
                            <td>{{forloop.counter}}</td>

                            <td><a href="/hotel/hoteldetails/{{obj.id}}">{{obj.full_name}}</a></td>
                            <td>{{obj.hotel}}</td>
                            <td>{{obj.email}}</td>
                            <td><a class="btn mini red-stripe" href="/hotel/reservation-request/hotel-details/{{obj.id}}/">View</a></td>
                            
                        </tr>
                                       
                 </tbody>
        
                {% endfor %}
                                   
        </table>
    </div>
</div>


{%endblock%}